---json
{
  "permalink": "/rss/blogposts_atom.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Keith Wagner - Blog",
    "subtitle": "My blog posts",
    "language": "en",
    "url": "https://kpwags.com/blog",
    "author": {
      "name": "Keith Wagner",
      "email": "hello@kpwags.com"
    }
  },
  "eleventyImport": {
    "collections": [ "post" ]
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ metadata.url }}">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ metadata.url }}"/>
  <link href="{{ permalink | absoluteUrl(metadata.url) }}" rel="self"/>
  <updated>{{ collections.post | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
  </author>
  {%- for post in collections.post | reverse %}
  {%- set absolutePostUrl = post.url | absoluteUrl(metadata.url) %}
  <entry>
    <title>{{ post | rssPostTitle }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content xml:lang="{{ metadata.language }}" type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) | rssThankYou }}</content>
  </entry>
  {%- endfor %}
</feed>