---json
{
  "permalink": "/rss/feed_no_politics.json",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Keith Wagner",
    "subtitle": "Thoughts and musings of a nerd and software developer.",
    "language": "en",
    "url": "https://kpwags.com/",
    "author": {
      "name": "Keith Wagner",
      "email": "hello@kpwags.com"
    }
  },
  "eleventyImport": {
    "collections": [ "post", "readinglog", "shortnotes", "booknotes", "weeknote" ]
  }
}
---
{
  "version": "https://jsonfeed.org/version/1.1",
  "title": "{{ metadata.title }}",
  "language": "{{ metadata.language }}",
  "home_page_url": "{{ metadata.url }}",
  "feed_url": "{{ permalink | absoluteUrl(metadata.url) }}",
  "description": "{{ metadata.subtitle }}",
  "author": {
    "name": "{{ metadata.author.name }}",
    "url": "{{ metadata.author.url }}"
  },
  "items": [
    {%- for post in collections.everythingNoPolitics | reverse %}
    {%- set absolutePostUrl = post.url | absoluteUrl(metadata.url) %}
    {
      "id": "{{ absolutePostUrl }}",
      "url": "{{ absolutePostUrl }}",
      "title": "{{ post | bookNoteTitlePrefix }}",
      "content_html": {% if post.templateContent %}{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) | dump | safe }}{% else %}""{% endif %},
      "date_published": "{{ post.date | dateToRfc3339 }}"
    }
    {% if not loop.last %},{% endif %}
    {%- endfor %}
  ]
}