---json
{
  "permalink": "/rss/links_atom.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Keith Wagner - Links",
    "subtitle": "Links I've discovered around the web",
    "language": "en",
    "url": "https://kpwags.com/links",
    "author": {
      "name": "Keith Wagner",
      "email": "hello@kpwags.com"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet href="/feedstyles/rss.xsl" type="text/xsl"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ metadata.url }}">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ metadata.url }}"/>
  <link href="{{ permalink | absoluteUrl(metadata.url) }}" rel="self"/>
  <updated>{{ links | linkMostRecentDate }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
  </author>
  {%- for item in links %}
  <entry>
    <title>{{ item.title }}</title>
    <link href="{{ item.url }}"/>
    <updated>{{ item.linkDate }}</updated>
    <id>{{ item.url }}</id>
    <content xml:lang="{{ metadata.language }}" type="html">{{ item | linkContent }}</content>
  </entry>
  {%- endfor %}
</feed>