<footer>
    <nav>
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
        <a href="/reading-logs">Reading Logs</a>
        <a href="/book-notes">Book Notes</a>
        <a href="/archives">Archives</a>
        <a href="/about">About</a>
        <a href="/work" title="View a page showcasing projects I've worked on">Work</a>
        <a href="/uses" title="View a page showing the gear and apps I use">Uses</a>
        <a href="/search" title="Go to a page allowing you to search my blog">Search</a>
        <a href="/bookshelf" title="View a page listing the books I've read">Bookshelf</a>
        <a href="/now" title="Now">Now</a>
        <a href="/movies" title="View a page listing the movies I've watched">Movies</a>
        <a href="/likes"
            title="View a page listing various articles I've liked and want to share from my RSS feeds">Likes</a>
        <a href="/listening" title="View a page listing the podcasts I'm subscribed to">Podcasts</a>
        <a href="/tv/" title="View a page listing the TV shows I've watched">TV</a>
        <a href="/music" title="View a page listing the music albums I own">Music</a>
        <a href="/video-games/" title="View a page listing the video games I've played">Video Games</a>
        <a href="/stats" title="View a page showing stats for my page">Stats</a>
        <a href="/progress/2023" title="View a page showing my current progress reaching my 2023 goals">2023 Goals
            Progress</a>
    </nav>
    <nav>
        <a href="mailto:hello@kpwags.com" title="Email me">hello@kpwags.com</a>
        <a href="https://www.github.com/kpwags" title="View my GitHub profile">GitHub</a>
        <a rel="me" href="https://hachyderm.io/@kpwags" title="View my Mastodon profile">Mastodon</a>
        <a rel="me" href="https://bsky.app/profile/kpwags.com" title="View my Bluesky profile">Bluesky</a>
        <a href="/rss" title="Get my RSS feed">RSS</a>
    </nav>
    <nav class="site-info">
        <span>Built with <a href="https://www.11ty.dev/" target="_blank" rel="noreferrer nofollow">Eleventy</a>
            (v2.0.1)</span>
        <span>Build Date: {{ config.builtAt | readableDate }}</span>
        <span><a href="https://github.com/kpwags/kpwags.11ty">View Source</a></span>
    </nav>
    <div class="copyright">&copy; 2023 Keith Wagner</div>
</footer>