<footer>
    <nav class="core-pages">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/notes">Notes</a></li>
            <li><a href="/reading-logs">Reading Logs</a></li>
            <li><a href="/book-notes">Book Notes</a></li>
            <li><a href="/links">Links</a></li>
            <li><a href="/rss" title="Get my RSS feeds">RSS</a></li>
        </ul>
    </nav>
    <nav class="secondary-pages">
        <ul>
            <li><a href="/archives">Archives</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/work" title="View a page showcasing projects I've worked on">Work</a></li>
            <li><a href="/uses" title="View a page showing the gear and apps I use">Uses</a></li>
            <li><a href="/search" title="Go to a page allowing you to search my blog">Search</a></li>
            <li><a href="/now" title="View what I'm currently doing, watching and listening to">Now</a></li>
            <li><a href="/wips" title="Works in Progress">WIPs</a></li>
            <li><a href="/likes"
                    title="View a page listing various articles I've liked and want to share from my RSS feeds">Likes</a>
            </li>
            <li><a href="/stats" title="View a page showing stats for my page">Stats</a></li>
            <li><a href="/blogroll" title="View a page of recommendations of other people to follow">Blog Roll</a></li>
            <li><a href="/progress/2024" title="View a page showing my current progress reaching my 2024 aspirations"
                    class="no-break">2024 Aspirations</a></li>
        </ul>
    </nav>
    <nav class="media">
        <ul>
            <li><a href="/bookshelf" title="View a page listing the books I've read">Bookshelf</a></li>
            <li><a href="/movies" title="View a page listing the movies I've watched">Movies</a></li>
            <li><a href="/music" title="View a page listing the music albums I own">Music</a></li>
            <li><a href="/listening" title="View a page listing the podcasts I'm subscribed to">Podcasts</a></li>
            <li><a href="/tv/" title="View a page listing the TV shows I've watched">TV</a></li>
            <li><a href="/video-games/" title="View a page listing the video games I've played">Video Games</a></li>
        </ul>
    </nav>
    <nav class="contact">
        <ul>
            <li>
                <a href="mailto:hello@kpwags.com" title="Email me">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16"
                        aria-label="Email icon">
                        <path
                            d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z" />
                    </svg>
                </a>
            </li>
            <li>
                <a href="https://www.github.com/kpwags" title="View my GitHub profile">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16"
                        aria-label="GitHub Logo">
                        <path
                            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8" />
                    </svg>
                </a>
            </li>
            <li>
                <a rel="me" href="https://hachyderm.io/@kpwags" title="View my Mastodon profile">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16"
                        aria-label="Mastodon Logo">
                        <path
                            d="M11.19 12.195c2.016-.24 3.77-1.475 3.99-2.603.348-1.778.32-4.339.32-4.339 0-3.47-2.286-4.488-2.286-4.488C12.062.238 10.083.017 8.027 0h-.05C5.92.017 3.942.238 2.79.765c0 0-2.285 1.017-2.285 4.488l-.002.662c-.004.64-.007 1.35.011 2.091.083 3.394.626 6.74 3.78 7.57 1.454.383 2.703.463 3.709.408 1.823-.1 2.847-.647 2.847-.647l-.06-1.317s-1.303.41-2.767.36c-1.45-.05-2.98-.156-3.215-1.928a4 4 0 0 1-.033-.496s1.424.346 3.228.428c1.103.05 2.137-.064 3.188-.189zm1.613-2.47H11.13v-4.08c0-.859-.364-1.295-1.091-1.295-.804 0-1.207.517-1.207 1.541v2.233H7.168V5.89c0-1.024-.403-1.541-1.207-1.541-.727 0-1.091.436-1.091 1.296v4.079H3.197V5.522q0-1.288.66-2.046c.456-.505 1.052-.764 1.793-.764.856 0 1.504.328 1.933.983L8 4.39l.417-.695c.429-.655 1.077-.983 1.934-.983.74 0 1.336.259 1.791.764q.662.757.661 2.046z" />
                    </svg>
                </a>
            </li>
            <li>
                <a href="https://bsky.app/profile/kpwags.com" title="View my Bluesky profile">
                    <svg width="27" height="24" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 530"
                        aria-label="Bluesky Logo">
                        <path
                            d="m135.72 44.03c66.496 49.921 138.02 151.14 164.28 205.46 26.262-54.316 97.782-155.54 164.28-205.46 47.98-36.021 125.72-63.892 125.72 24.795 0 17.712-10.155 148.79-16.111 170.07-20.703 73.984-96.144 92.854-163.25 81.433 117.3 19.964 147.14 86.092 82.697 152.22-122.39 125.59-175.91-31.511-189.63-71.766-2.514-7.3797-3.6904-10.832-3.7077-7.8964-0.0174-2.9357-1.1937 0.51669-3.7077 7.8964-13.714 40.255-67.233 197.36-189.63 71.766-64.444-66.128-34.605-132.26 82.697-152.22-67.108 11.421-142.55-7.4491-163.25-81.433-5.9562-21.282-16.111-152.36-16.111-170.07 0-88.687 77.742-60.816 125.72-24.795z" />
                    </svg>
                </a>
            </li>
            <li>
                <a href="https://pixelfed.social/users/kpwags" title="View my pixelfed profile">
                    <svg width="24" height="24" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:svg="http://www.w3.org/2000/svg" aria-label="Pixelfed Logo">
                        <g transform="translate(-1.9773591,-1.8732876)">
                            <path fill="none" d="M 0,0 H 24 V 24 H 0 Z" />
                            <path
                                d="m 12,1.877584 c 5.523,0 10,4.477 10,10 0,5.523 -4.477,10 -10,10 -5.523,0 -10,-4.477 -10,-10 0,-5.523 4.477,-10 10,-10 z m 1.031,6.099 h -2.624 c -0.988,0 -1.789,0.776 -1.789,1.733 v 6.748 l 2.595,-2.471 h 1.818 c 1.713,0 3.101,-1.345 3.101,-3.005 0,-1.66 -1.388,-3.005 -3.1,-3.005 z" />
                        </g>
                    </svg>
                </a>
            </li>
            <li>
                <a href="https://www.instapaper.com/p/kpwags" title="View my Instapaper profile">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32"
                        aria-label="Instapaper icon">
                        <path
                            d="M19.688 27.010c0 2.427 0.359 2.786 3.911 3.057v1.932h-15.198v-1.932c3.557-0.271 3.911-0.63 3.911-3.057v-22.068c0-2.375-0.359-2.786-3.911-3.057v-1.885h15.198v1.885c-3.552 0.271-3.911 0.677-3.911 3.057z" />
                    </svg>
                </a>
            </li>
        </ul>
    </nav>
    <nav class="site-info">
        <span>Built with <a href="https://www.11ty.dev/" target="_blank" rel="noreferrer nofollow">Eleventy</a></span>
        <span>Build Date: {{ config.builtAt | readableDate }}</span>
        <span><a href="/credits">Credits</a></span>
        <span><a href="https://github.com/kpwags/kpwags.11ty">View Source</a></span>
    </nav>
    <div class="theme-control">
        <form class="color-controls" name="colorsForm">
            <fieldset>
                <legend>Choose Color:</legend>
                <div class="controls-block">
                    <label for="theme-color-red">
                        <span class="sr-only">Red</span>
                        <div class="color-block red"></div>
                        <input type="radio" id="theme-color-red" name="colorTheme" value="red" />
                    </label>
                    <label for="theme-color-orange">
                        <span class="sr-only">Orange</span>
                        <div class="color-block orange"></div>
                        <input type="radio" id="theme-color-orange" name="colorTheme" value="orange" />
                    </label>
                    <label for="theme-color-green">
                        <span class="sr-only">Green</span>
                        <div class="color-block green"></div>
                        <input type="radio" id="theme-color-green" name="colorTheme" value="green" checked />
                    </label>
                    <label for="theme-color-blue">
                        <span class="sr-only">Blue</span>
                        <div class="color-block blue"></div>
                        <input type="radio" id="theme-color-blue" name="colorTheme" value="blue" />
                    </label>
                    <label for="theme-color-purple">
                        <span class="sr-only">Purple</span>
                        <div class="color-block purple"></div>
                        <input type="radio" id="theme-color-purple" name="colorTheme" value="purple" />
                    </label>
                </div>
            </fieldset>
        </form>
        <form class="mode-controls" name="modeForm">
            <fieldset>
                <legend>Choose Mode:</legend>
                <div class="controls-block">
                    <label for="mode-light">
                        <span class="sr-only">Light Mode</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            viewBox="0 0 16 16" aria-label="sun indicating light mode">
                            <path
                                d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8M8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0m0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13m8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5M3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8m10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0m-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0m9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707M4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708" />
                        </svg>
                        <input type="radio" id="mode-light" name="selectedMode" value="light" />
                    </label>
                    <label for="mode-system">
                        <span class="sr-only">Default to System</span>
                        AUTO
                        <input type="radio" id="mode-system" name="selectedMode" value="system" checked />
                    </label>
                    <label for="mode-dark">
                        <span class="sr-only">Dark Mode</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            viewBox="0 0 16 16" aria-label="moon indicating dark mode">
                            <path
                                d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278" />
                        </svg>
                        <input type="radio" id="mode-dark" name="selectedMode" value="dark" />
                    </label>
                </div>
            </fieldset>
        </form>
    </div>
</footer>