<footer>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/blog">Blog</a></li>
			<li><a href="/notes">Notes</a></li>
			<li><a href="/reading-logs">Reading Logs</a></li>
			<li><a href="/week-notes">Week Notes</a></li>
			<li><a href="/book-notes">Book Notes</a></li>
			<li><a href="/links">Links</a></li>
			<li><a href="/rss" title="Get my RSS feeds">RSS</a></li>
		</ul>
	</nav>
	<nav>
		<ul>
			<li><a href="/archives">Archives</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/work" title="View a page showcasing projects I've worked on">Work</a></li>
			<li><a href="/uses" title="View a page showing the gear and apps I use">Uses</a></li>
			<li><a href="/now" title="View what I'm currently doing, watching and listening to">Now</a></li>
			<li><a href="/wips" title="Works in Progress">WIPs</a></li>
			<li><a href="/stats" title="View a page showing stats for my page">Stats</a></li>
			<li><a href="/blogroll" title="View a page of recommendations of other people to follow">Blog Roll</a></li>
			<li><a href="/progress/2025" title="View a page showing my current progress reaching my 2025 aspirations"
					class="no-break">2025 Aspirations</a></li>
		</ul>
	</nav>
	<nav>
		<ul>
			<li><a href="/bookshelf/" title="View a page listing the books I've read">Bookshelf</a></li>
			<li><a href="/movies/" title="View a page listing the movies I've watched">Movies</a></li>
			<li><a href="/music/" title="View a page listing the music albums I own">Music</a></li>
			<li><a href="/podcasts/" title="View a page listing the podcasts I'm subscribed to">Podcasts</a></li>
			<li><a href="/tv/" title="View a page listing the TV shows I've watched">TV</a></li>
			<li><a href="/video-games/" title="View a page listing the video games I've played">Video Games</a></li>
		</ul>
	</nav>
	<nav>
		<ul>
			<li><a href="mailto:hello@kpwags.com" title="Email me">Email</a></li>
			<li><a href="https://codeberg.org/kpwags" title="View my Codeberg profile">Codeberg</a></li>
			<li><a href="https://www.github.com/kpwags" title="View my GitHub profile">GitHub</a></li>
			<li><a rel="me" href="https://hachyderm.io/@kpwags" title="View my Mastodon profile">Mastodon</a></li>
			<li><a href="https://bsky.app/profile/kpwags.com" title="View my Bluesky profile">Bluesky</a></li>
		</ul>
	</nav>
	<nav>
		<ul>
			<li><a href="/credits">Credits</a></li>
			<li><a href="/colophon">Colophon</a></li>
			<li><a href="/ai">AI Manifesto</a></li>
			<li><a href="https://github.com/kpwags/kpwags.11ty">View Source</a></li>
		</ul>
	</nav>
	<div>Built with <a href="https://www.11ty.dev/" target="_blank" rel="noreferrer nofollow">11ty</a> on {{ config.builtAt | readableDate }}</div>
</footer>