<div class="rainbow-bar"></div>

<header>
	<div class="img">
		<img src="/img/logo.png" alt="A picture of me with my dog Tess next to me looking at me" width="128"
			height="128" />
	</div>
	<div>
		<div class="logo"><a href="/">Keith Wagner</a></div>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/blog">Blog</a></li>
				<li><a href="/notes">Notes</a></li>
				<li><a href="/reading-logs">Reading Logs</a></li>
				<li><a href="/week-notes">Week Notes</a></li>
				<li><a href="/book-notes">Book Notes</a></li>
			</ul>
		</nav>
	</div>

</header>