<header>
    <div class="intro">
        <div class="image">
            <img src="/img/logo.png" alt="A picture of me in a Phillies shirt and hat holding a beer" width="128"
                height="128" />
        </div>
        <div class="text">
            <h1>Hi, I'm Keith!</h1>
            <div class="basic-info">I'm a software developer, gamer, geek, beer league hockey player, Philadelphia
                sports fan and a whole lot more.</div>
        </div>
    </div>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/notes">Notes</a></li>
            <li><a href="/reading-logs">Reading Logs</a></li>
            <li><a href="/book-notes">Book Notes</a></li>
            <li><a href="/links">Links</a></li>
        </ul>
    </nav>
</header>