<div class="rainbow-bar"></div>

<header>
	<div class="content">
		<div class="title">
			<img src="/img/logo.png" alt="Me sitting with my dog Tess next to me" width="96" height="96" />
			<a href="/">Keith Wagner</a>
		</div>
		<nav>
			<ul>
				<li><a href="/blog">Posts</a></li>
				<li><a href="/notes">Notes</a></li>
				<li><a href="/reading-logs">Reading Logs</a></li>
				<li><a href="/week-notes">Week Notes</a></li>
				<li><a href="https://photography.kpwags.com/">Photography</a></li>
			</ul>
		</nav>
	</div>
</header>