<dialog id="settings-drawer" class="settings-drawer">
	<button id="close-theme-drawer" type="button" aria-label="Close the site theme settings popup">
		<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5">
			<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
		</svg>
	</button>
	<div class="theme-section">
		<div class="button-label">Mode</div>
		<div class="theme-options">
			<button type="button" title="system" data-mode="system" class="mode-button"> System</button>
			<button type="button" title="light" data-mode="light" class="mode-button"> Light</button>
			<button type="button" title="dark" data-mode="dark" class="mode-button"> Dark</button>
		</div>
	</div>
	<div class="theme-section">
		<div class="button-label">Color</div>
		<div class="color-options">
			<button type="button" title="red" data-color="red" class="color-button"> &nbsp;</button>
			<button type="button" title="orange" data-color="orange" class="color-button"> &nbsp;</button>
			<button type="button" title="green" data-color="green" class="color-button"> &nbsp;</button>
			<button type="button" title="blue" data-color="blue" class="color-button"> &nbsp;</button>
			<button type="button" title="purple" data-color="purple" class="color-button"> &nbsp;</button>
		</div>
	</div>
	<div class="theme-section">
		<div class="button-label">Width</div>
		<div class="theme-options">
			<button type="button" title="Set page width to slim" data-width="slim" class="width-button">Slim</button>
			<button type="button" title="Set page width to normal" data-width="normal"
				class="width-button">Normal</button>
			<button type="button" title="Set page width to wide" data-width="wide" class="width-button">Wide</button>
		</div>
	</div>
</dialog>