article.book-note .content {
    padding: 16px;
}

article.book-note blockquote,
article.book-note blockquote p {
    border-left: none;
    padding: 0 8px;
    margin: 0 0 32px;
    font-size: 1.4rem;
    line-height: 1.75;
    font-style: italic;
    color: var(--primary-color-2);
}

article.book-note p:last-of-type {
    margin-bottom: 0;
}

article.book-note .metadata {
    display: flex;
    gap: 40px;
}

article.book-note .metadata h2 {
    font-size: 2.1rem;
    margin-bottom: 16px;
}

article.book-note .image {
    min-width: 200px;
    margin: 0 auto 32px;
}

article.book-note .metadata h3 {
    color: var(--text);
    font-size: 1.75rem;
    margin-bottom: 12px;
}

article.book-note .book-rating {
    margin: 16px 0;
}

article.book-note .categories {
    margin: 16px 0;
    display: flex;
    gap: 8px;
}

article.book-note .category {
    padding: 0 16px;
    background-color: var(--primary-color-2);
    color: var(--background);
    border-radius: 4px;
}

article.book-note .finished-reading {
    font-size: 1.2rem;
}

article.book-note .links {
    display: flex;
    gap: 16px;
    font-size: 1.2rem;
}

article.book-note .links a {
    text-decoration: underline;
}

@media (max-width: 550px) {
    article.book-note .metadata {
        display: block;
    }

    article.book-note .image {
        width: 200px;
        margin: 0 auto 32px;
    }

    article.book-note .links {
        display: block;
    }

    article.book-note .links a {
        display: block;
        margin: 5px 0;
    }
}