@import 'reset.css';
@import 'fonts.css';
@import 'variables.css';

body {
	background-color: var(--background);
    color: var(--text);
    font-size: clamp(1rem, 0.96rem + 0.22vw, 1.125rem);
    font-family: var(--font);
    padding: 0;
    width: var(--width);
    margin: 0 auto;
    max-width: 100%;
}

p {
    line-height: 1.8;
    margin: 0 0 32px;
}

h1 {
	color: var(--primary-color-1);
	font-size: 2.5rem;
}

h2 {
	margin-top: 32px;
	font-size: 2rem;
}

a,
a:visited {
    color: var(--primary-color-1);
    cursor: pointer;
    text-decoration: underline;
}

a:hover {
    color: var(--primary-color-2);
    text-decoration: underline;
}

nav {
	background: #fff5b1;
	padding: 16px;
	margin: 24px 0;
	border-radius: 10px;
	color: var(--black-1);
}

nav p:last-child {
	margin-bottom: 0;
}

header {
	margin: 32px 0;
}

header p {
	margin-bottom: 8px;
}

.rss-blog-post {
	margin-bottom: 32px;
}

.rss-blog-post h3 {
	font-size: 1.5rem;
	margin-bottom: 8px;
}

.rss-blog-post h3 a {
	text-decoration: none;
	color: var(--primary-color-1);
}

.rss-blog-post h3 a:hover {
	text-decoration: underline;
}

.rss-blog-post .metadata {
	color: var(--meta);
	margin-bottom: 8px;
}