@font-face {
    font-family: 'caveat';
    src: url('/fonts/caveat/caveat.ttf') format('truetype');
    font-weight: 400 700;
    font-display: swap;
}

@font-face {
    font-family: 'inconsolata';
    src: url('/fonts/inconsolata/inconsolata.ttf') format('truetype');
    font-weight: 200 900;
    font-display: swap;
}