html,
body {
    background-color: var(--background);
    color: var(--text);
    font-size: clamp(1rem, 0.96rem + 0.22vw, 1.125rem);
    font-family: var(--font);
    padding: 0;
    margin: 0;
}

main {
    width: var(--width);
    margin: 32px auto 0 auto;
    padding: 0 10px;
    max-width: 100%;
}

main.full-width {
    width: 100%;
    padding: 0 25px;
}

hr {
    width: 250px;
    margin: 40px auto;
    border-bottom: 1px solid hsl(0, 0%, 87.1%);
    background-color: transparent;
}

h1 {
    font-weight: 500;
    font-size: 3.999rem;
    color: var(--primary-color-1);
    margin: 2rem 0;
    padding: 0;
}

h2 {
    font-weight: 400;
    font-size: 2.999rem;
    color: var(--primary-color-1);
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 2.333rem;
    color: var(--primary-color-1);
    font-weight: 500;
    margin: 0;
}

h4 {
    font-size: 2rem;
    color: var(--primary-color-3);
}

h5 {
    font-size: 1.666rem;
}

h6 {
    font-size: 1.166rem;
}

h1 span,
h2 span,
h3 span {
    white-space: nowrap;
}

h1.text,
h2.text,
h3.text {
    color: var(--text);
}

p {
    line-height: 1.8;
    margin-bottom: 32px;
}

a,
a:visited {
    color: var(--primary-color-1);
    cursor: pointer;
    text-decoration: underline;
}

a:hover {
    color: var(--primary-color-2);
    text-decoration: underline;
}

a img {
    border: none;
}

/* header */
header {
    position: relative;
}

.mobile-settings {
    display: none;
    position: absolute;
    top: 15px;
    right: 15px;
    gap: 16px;
}

nav {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    font-size: 20px;
}

nav a:hover {
    text-decoration: underline;
}

.logo a {
    display: flex;
    gap: 16px;
    font-size: 2rem;
    text-decoration: none;
    align-items: center;
}

.logo img {
    width: 48px;
    height: 48px;
}

.nav-btn {
    padding: 0;
    background: none;
    border: none;
    display: block;
    height: 20px;
}

.nav-btn svg,
a svg {
    height: 20px;
    width: 20px;
    stroke: var(--primary-color-1);
}

.nav-btn:hover svg,
a:hover svg {
    stroke: var(--primary-color-2);
}

.links {
    display: flex;
    column-gap: 28px;
    row-gap: 16px;
    align-items: center;
}

@media (max-width: 820px) {
    nav {
        display: block;
    }

    .logo {
        margin-bottom: 16px;
    }

    .links {
        flex-wrap: wrap;
        column-gap: 32px;
        justify-content: center;
    }

    .mobile-settings {
        display: flex;
    }

    .hide-mobile {
        display: none;
    }
}

@media (max-width: 450px) {
    .links {
        padding: 0 32px;
    }
}
/* end header */

/* footer */
footer {
    margin: 96px 0 48px;
    padding-top: 24px;
    text-align: center;
}

footer nav {
    margin-bottom: 16px;
    display: block;
}

footer nav a {
    padding: 10px;
    text-decoration: none;
    white-space: nowrap;
}

nav @media (max-width: 450px) {
    footer {
        margin: 16px 0;
    }
}
/* end footer */

article.post {
    margin: 32px 0 64px;
    border: 1px solid var(--grey-1);
    padding: 16px;
    border-radius: 8px;
}

article.post:hover {
    border-color: var(--grey-2);
    box-shadow: var(--box-shadow);
}

article.post .metadata.metadata {
    margin: 12px 0 20px 0;
    font-size: 1.2rem;
    color: var(--meta);
    font-weight: 300;
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    text-transform: uppercase;
}

article.post h2 {
    font-size: 2rem;
    line-height: 1.1;
}

article.post h2 a {
    text-decoration: none;
}

article.post div.excerpt {
    margin: 16px 0 0;
}

@media (max-width: 414px) {
    article.post h2 {
        font-size: 2.25rem;
        margin-bottom: 16px;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 80px;
    font-size: 1.25rem;
    margin: 32px 0;
}

.pagination a {
    text-decoration: none;
}

ul.tag-list {
    margin: 16px 0 24px 0 !important;
    padding: 0;
    width: 100%;
}

.tag-list li {
    display: inline-block;
    list-style-type: none;
    padding: 0 30px 0 0;
    line-height: 1.6;
    margin-bottom: 0 !important;
}

.tag-list li.lead {
    padding-left: 0;
    padding-right: 10px;
    font-weight: 600;
}

.tag-list li a {
    white-space: nowrap;
}

.in-depth-notes {
    margin-bottom: 2rem;
}

.in-depth-notes h3 {
    font-size: 1.6rem !important;
    text-wrap: unset;
}

.in-depth-notes .source {
    color: var(--text);
}

.in-depth-notes li p {
    margin: 0;
}

.book-note-card {
    margin: 32px 0;
    border: 1px solid var(--grey-1);
    padding: 16px;
    border-radius: 8px;
    container-type: inline-size;
}

.book-note-card:hover {
    border-color: var(--grey-2);
    box-shadow: var(--box-shadow);
}

.book-note-card .metadata {
    text-transform: uppercase;
    font-style: italic;
    padding: 8px 16px;
    border-bottom: 1px solid var(--grey-1);
    background-color: var(--background-lighter);
}

.book-note-card .content {
    display: flex;
    gap: 32px;
    padding: 16px;
}

.book-note-card .image {
    min-width: 200px;
}

.book-note-card h2 {
    font-size: 1.9rem;
}

.book-note-card h2 a {
    text-decoration: none;
}

.book-note-card h2 a:hover {
    text-decoration: underline;
}

.book-note-card h3 {
    color: var(--text);
    margin: 16px 0 24px;
    font-size: 1.7rem;
}

.book-note-card .categories {
    margin: 16px 0;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.book-note-card .category {
    padding: 0 16px;
    background-color: var(--primary-color-2);
    color: var(--background);
    border-radius: 8px;
}

.book-note-card .date {
    font-style: italic;
    margin-bottom: 16px;
    font-size: 1.2rem;
}

@container (min-width: 600px) {
    .book-note-card .content {
        gap: 64px;
    }
}

@media (max-width: 450px) {
    .book-note-card .content {
        display: block;
    }

    .book-note-card .image {
        width: 200px;
        margin: 0 auto 2rem;
    }

    .book-note-card .metadata {
        text-align: center;
    }
}

.rating {
    margin: 10px 0;
}

.star {
    display: inline-block;
    fill: var(--primary-color-1);
    stroke: var(--primary-color-1);
    margin: 0 4px;
}

.star-sm {
    width: 16px;
    height: 16px;
}

.star-md {
    width: 24px;
    height: 24px;
}

.star-lg {
    width: 32px;
    height: 32px;
}

.empty-star {
    display: inline-block;
    fill: none;
    stroke: var(--primary-color-1);
    margin: 0 4px;
}