@view-transition {
  navigation: auto;
}

html,
body {
	background: var(--background);
	color: var(--text);
	font-size: var(--font-size-base);
	line-height: 1.5;
	font-family: var(--font);
	padding: 0;
	margin: 0;	
	min-height: 100vh;
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
}

/* CATCH WHEN I MISS A LABEL OR ALT TEXT */
img:not([alt]),
svg:not([aria-label]) {
	border: 5px solid red;
}

svg[aria-hidden="true"] {
	border: none;
}

main {
	width: var(--width);
	margin: 128px auto;
	max-width: 100%;
}

main.homepage {
	margin: 0 0 128px 0;
	width: 100%;
}

@media (max-width: 900px) {
	main {
		margin: 64px auto;
	}
}

h1 {
	font-weight: 500;
	font-size: 3rem;
	color: var(--color-1);
	margin: 0 0 32px 0;
	padding: 0;
	text-align: center;
}

h1 span.prefix {
	display: block;
	font-size: 1.75rem;
	margin: 16px 0 0 0;
	text-transform: uppercase;
}

h2 {
	font-weight: 500;
	font-size: 2.5rem;
	color: var(--color-2);
	margin: 24px 0;
	padding: 0;
}

h3 {
	font-size: 1.8rem;
	color: var(--color-3);
	font-weight: 400;
	margin: 20px 0;
	padding: 0;
}

h4 {
	font-size: 1.6rem;
	font-weight: 400;
	color: var(--color-1);
	margin: 12px 0;
}

h5 {
	font-size: 1.5rem;
	font-weight: 400;
	margin: 12px 0;
}

h6 {
	font-size: 1.25rem;
	font-weight: 400;
	margin: 12px 0;
}

@media (max-width: 820px) {
	h1 {
		font-size: 2.25rem;
		margin: 0 0 1.25rem;
	}

	h2 {
		font-size: 1.8rem;
	}

	h3 {
		font-size: 1.65rem;
	}

	h4 {
		font-size: 1.5rem;
	}

	h5 {
		font-size: 1.35rem;
	}

	h6 {
		font-size: 1.25rem;
	}
}

@media (max-width: 500px) {
	h1 span.prefix {
		font-size: 1.4rem;
	}
}

p {
	line-height: 32px;
	margin-block-start: 24px;
	margin-block-end: 32px;
}

ul {
	margin: 0;
	padding: 0;
}

ul li {
	margin-bottom: 8px;
	margin-left: 24px;
}

ul li {
	list-style-type: '- ';
}

ul > p:empty {
	/* Annoyingly markdown occasionally puts these in */
	display: none;
}

a,
a:visited {
	color: var(--text);
	cursor: pointer;
	text-decoration-color: var(--color-1);
	text-underline-offset: 3px;
}

a:hover {
	text-decoration-color: var(--color-2);
	color: var(--color-1);
}

a img {
	border: none;
}

hr {
	width: 300px;
	margin: 40px auto;
	border-bottom: 1px solid var(--border-color);
	background-color: transparent;
}

blockquote {
	margin: 0 32px 32px;
	border-left: 4px solid var(--color-1);
	padding-left: 24px;
}

blockquote + blockquote {
    margin-top: 32px;
}

blockquote p {
	margin: 0 0 24px 0;
}

blockquote p:last-child {
	margin: 0;
}

blockquote ol,
blockquote ul {
	padding-left: 16px;
	margin: 16px 0;
}

@media (max-width: 500px) {
	blockquote {
		margin: 0 16px;
	}
}

.hidden {
	display: none;
}

.rainbow-bar {
	width: 100%;
	height: 16px;
	background: linear-gradient(90deg,
			rgba(255, 0, 0, 1) 0%,
			rgba(255, 154, 0, 1) 10%,
			rgba(208, 222, 33, 1) 20%,
			rgba(79, 220, 74, 1) 30%,
			rgba(63, 218, 216, 1) 40%,
			rgba(47, 201, 226, 1) 50%,
			rgba(28, 127, 238, 1) 60%,
			rgba(95, 21, 242, 1) 70%,
			rgba(186, 12, 248, 1) 80%,
			rgba(251, 7, 217, 1) 90%,
			rgba(255, 0, 0, 1) 100%);
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.standard-width {
	width: var(--width);
	margin: 0 auto;
	max-width: 100%;
}

fit-vids {
	margin-bottom: 48px;
}

/* ---- HEADER ---- */
header {
	background-color: var(--primary-500);
	position: relative;
}

header img {
	position: absolute;
	top: 8px;
	border: 4px solid var(--primary-500);
	border-radius: 50%;
}

header .content {
	width: var(--width);
	margin: 0 auto;
	display: flex;
	gap: 32px;
	align-items: center;
	justify-content: space-between;
}

header .content .title {
	font-size: 1.5rem;
}

header .content .title a {
	text-decoration: none;
	color: var(--white);
	margin-left: 112px;
	text-transform: uppercase;
}

header .content .title a:hover {
	text-decoration: underline;
	text-decoration-color: var(--color-2);
}

header nav {
	height: 100%;
}

header nav ul {
	margin: 0;
	padding: 0 16px;
	display: inline-flex;
	gap: 8px 32px;
	align-items: center;
	flex-wrap: wrap;
}

header nav ul li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
}

header .content nav ul li a {
	text-decoration: none;
	color: var(--white);
	padding: 16px 0 10px;
	border-bottom: 6px solid var(--primary-500);
	font-size: 1rem;
}

header .content nav ul li a:hover {
	text-decoration: none;
	border-color: var(--color-3);
}

@media (max-width: 900px) {
	header {
		height: auto;
	}

	header img {
		display: none;
	}

	header .content {
		flex-direction: column;
		height: auto;
		gap: 0;
	}

	header .content .title {
		margin-top: 12px;
		margin-bottom: 16px;
	}

	header .content .title a {
		margin-left: 0;
	}

	header .content nav {
		padding-bottom: 16px;
	}

	header .content nav ul li a {
		padding: 0;
		border-bottom: none;
	}

	header .content nav ul li a:hover {
		text-decoration: underline;
		text-decoration-color: var(--color-2);
	}
}

@media (max-width: 600px) {
	header nav ul {
		justify-content: center;
	}

}
/* ---- END HEADER ---- */

/* ---- FOOTER ---- */
footer {
	background-color: var(--primary-500);
	padding: 32px 0;
	margin-top: auto;
}

footer .content {
	width: var(--width);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

footer .columns {
	display: flex;
	gap: 64px;
	justify-content: space-between;
}

footer .columns .title {
	margin-bottom: 8px;
	color: var(--color-5);
	font-weight: 500;
	font-size: 1.1rem;
}

footer nav {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 16px;
}

footer nav ul {
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 4px;
}


footer .content nav ul li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	line-height: 1;
}

footer .content nav ul li a {
	font-size: 0.9rem;
	color: var(--white);
	text-decoration-color: var(--white);
}

footer div.content nav ul li a:hover {
	text-decoration-color: var(--color-2);
}

footer div.site-info {
	font-size: 0.8rem;
	display: flex;
	gap: 8px 32px;
	color: var(--white);
	border-top: 1px solid var(--white);
	padding-top: 16px;
	margin-top: 16px;
}

footer div.site-info ul {
	display: inline-flex;
	margin: 0;
	padding: 0;
	gap: 32px;
	align-items: center;
}

footer div.site-info ul li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
}

footer div.site-info ul li a {
	color: var(--white);
	text-decoration-color: var(--white);
}

footer div.site-info a:hover {
	text-decoration-color: var(--color-2);
}

footer .theme-selector .theme-controls fieldset {
	display: flex;
	gap: 16px;
	align-items: center;
	justify-content: center;
	border: none;
	padding: 0;
	margin: 0;
	width: 100%;
	flex-wrap: wrap;
}

footer .theme-selector .theme-controls legend {
	font-weight: 600;
	display: contents;
	color: var(--white);
}

footer .theme-selector label {
	cursor: pointer;
	background-color: var(--white);
	border-radius: 6px;
	color: var(--black);
}

footer .theme-selector label:hover {
	background-color: var(--color-2);
	color: var(--white);
}

footer .theme-selector .theme-controls input {
	display: none;
}

footer .theme-option {
	border: 1px solid var(--border-color);
	box-sizing: content-box;
	border-radius: 6px;
	padding: 4px 16px;
}

footer .theme-controls label:has(input:checked) .theme-option {
	border: 4px solid var(--color-2);
}

@media (max-width: 767px) {
	footer div.site-info {
		flex-direction: column;
		gap: 8px;
	}

	footer div.site-info ul {
		flex-wrap: wrap;
		gap: 8px 32px;
	}

	footer div.site-info ul li {
		flex-wrap: wrap;
	}
}

@media (max-width: 650px) {
	footer .columns {
		flex-wrap: wrap;
		justify-content: flex-start;
		gap: 64px 96px;
	}
}

@media (max-width: 600px) {
	footer .theme-selector .theme-controls legend {
		display: unset;
		margin-bottom: 8px;
	}
}
/* ---- END FOOTER ---- */

/* ---- HOMEPAGE INTRO ---- */
.homepage-intro {
	background: var(--primary-400);
	color: var(--white);
	padding: 160px 0 64px 0;
	margin-bottom: 32px;
}

.homepage-intro .welcome-text {
	width: 60%;
	margin-left: 20%;
}

.homepage-intro .welcome-text p {
	margin-top: 0;
	font-size: 1.33rem;
}

.homepage-intro .welcome-text p:first-of-type {
	font-size: 1.75rem;
}

.homepage-intro .welcome-text p:last-of-type {
	margin-bottom: 0;
}

@media (max-width: 900px) {
	.homepage-intro {
		padding: 32px 0;
	}

	.homepage-intro .welcome-text {
		width: 100%;
		padding: 0 15px;
		margin: 0;
	}
}
/* ---- END HOMEPAGE INTRO ---- */

/* ---- HOMEPAGE SECTIONS ---- */
.homepage {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.homepage-section h2 {
	font-size: 1.2rem;
	text-decoration: underline;
	margin-left: 132px;
}

.homepage-section ul {
	margin: 0;
	padding: 0;
}

.homepage-section ul li {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	margin: 0 0 24px 0;
	line-height: 1;
}

.homepage-section ul li div.post-data {
	display: flex;
	gap: 12px;
	align-items: flex-end;
}

.homepage-section ul li div.post-data div.post-date {
	min-width: 120px;
	font-size: 0.9rem;
}

.homepage-section ul li div.post-data a {
	font-size: 1.6rem;
}

.homepage-section ul li div.post-description {
	margin-left: 132px;
	margin-top: 8px;
	line-height: 1.33;
}

@media (max-width: 500px) {
	.homepage-section h2 {
		margin-left: 0;
	}

	.homepage-section ul li div.post-data {
		flex-direction: column;
		align-items: flex-start;
	}

	.homepage-section ul li div.post-description {
		margin-left: 0;
	}
}
/* ---- END HOMEPAGE SECTIONS ---- */

/* ---- BLOG POST INDEX PAGE ---- */
.blog-posts {
	display: flex;
	flex-direction: column;
	gap: 48px;
	margin-top: 64px;
}

.blog-posts article div.post-data {
	display: flex;
	gap: 12px;
	align-items: flex-end;
}

.blog-posts article div.post-data div.post-date {
	min-width: 120px;
	font-size: 0.9rem;
}

.blog-posts article div.post-data a {
	font-size: 1.6rem;
}

.blog-posts article div.post-description {
	margin-left: 132px;
	margin-top: 8px;
	line-height: 1.33;
}

@media (max-width: 500px) {
	.blog-posts article div.post-data {
		flex-direction: column;
		align-items: flex-start;
		gap: 8px;
	}

	.blog-posts article div.post-description {
		margin-left: 0;
	}
}
/* ---- END BLOG POST INDEX PAGE ---- */

/* ---- BLOG POST INDEX PAGE ---- */
.notes {
	display: flex;
	flex-direction: column;
	gap: 64px;
	margin-top: 64px;
}

.notes article div.note-data {
	display: flex;
	gap: 12px;
	align-items: flex-end;
}

.notes article div.note-data div.note-date {
	min-width: 120px;
	font-size: 0.9rem;
}

.notes article div.note-data h2 {
	font-size: 1.33rem;
	line-height: 1;
	margin: 0;
	padding: 0
}

.notes article div.note-metadata {
	margin-top: 8px;
	font-size: 0.9rem;
	margin-left: 132px;
	display: flex;
	gap: 16px;
}

.notes article div.note-content {
	margin-left: 132px;
	margin-top: 24px;
}

@media (max-width: 500px) {
	.notes article div.note-data {
		flex-direction: column;
		align-items: flex-start;
		gap: 8px;
	}

	.notes article div.note-metadata,
	.notes article div.note-content {
		margin-left: 0;
	}
}
/* ---- END BLOG POST INDEX PAGE ---- */

/* ---- READING LOG INDEX PAGE ---- */
.reading-logs {
	display: flex;
	flex-direction: column;
	gap: 48px;
	margin-top: 64px;
}

.reading-logs article div.post-data {
	display: flex;
	gap: 12px;
	align-items: flex-end;
}

.reading-logs article div.post-data div.post-date {
	min-width: 120px;
	font-size: 0.9rem;
}

.reading-logs article div.post-data a {
	font-size: 1.6rem;
}

.reading-logs article div.post-description {
	margin-left: 132px;
	margin-top: 8px;
	line-height: 1.33;
}

@media (max-width: 500px) {
	.reading-logs article div.post-data {
		flex-direction: column;
		align-items: flex-start;
		gap: 8px;
	}

	.reading-logs article div.post-description {
		margin-left: 0;
	}
}
/* ---- END READING LOG INDEX PAGE ---- */

/* ---- WEEK NOTES INDEX PAGE ---- */
.week-notes {
	display: flex;
	flex-direction: column;
	gap: 48px;
	margin-top: 64px;
}

.week-notes article div.post-data {
	display: flex;
	gap: 12px;
	align-items: flex-end;
}

.week-notes article div.post-data div.post-date {
	min-width: 120px;
	font-size: 0.9rem;
}

.week-notes article div.post-data a {
	font-size: 1.6rem;
}

.week-notes article div.post-description {
	margin-left: 132px;
	margin-top: 8px;
	line-height: 1.33;
}

@media (max-width: 500px) {
	.week-notes article div.post-data {
		flex-direction: column;
		align-items: flex-start;
		gap: 8px;
	}

	.week-notes article div.post-description {
		margin-left: 0;
	}
}
/* ---- END WEEK NOTES INDEX PAGE ---- */

/* ---- PAGINATION ---- */
section.pagination {
	margin: 64px 0 32px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 32px;
}
/* ---- END PAGINATION ---- */