html,
body {
    background-color: var(--background);
    color: var(--text);
    font-size: clamp(1rem, 0.96rem + 0.22vw, 1.125rem);
    font-family: var(--font);
    padding: 0;
    margin: 0;
}

main.full-width {
    width: 100%;
    padding: 0 25px;
}

main,
main.full-width:has(div.now-page) {
    width: var(--width);
    margin: 32px auto 0 auto;
    padding: 0 10px;
    max-width: 100%;
}

hr {
    width: 250px;
    margin: 40px auto;
    border-bottom: 1px solid hsl(0, 0%, 87.1%);
    background-color: transparent;
}

h1 {
    font-weight: 500;
    font-size: 3.4rem;
    color: var(--primary-color-1);
    margin: 2rem 0;
    padding: 0;
}

h2 {
    font-weight: 400;
    font-size: 2.75rem;
    color: var(--primary-color-1);
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 2.3rem;
    color: var(--primary-color-1);
    font-weight: 500;
    margin: 0;
}

h4 {
    font-size: 2rem;
    color: var(--primary-color-3);
}

h5 {
    font-size: 1.666rem;
}

h6 {
    font-size: 1.166rem;
}

h1 span,
h2 span,
h3 span {
    white-space: nowrap;
}

h1.text,
h2.text,
h3.text {
    color: var(--text);
}

p {
    line-height: 1.8;
    margin-bottom: 32px;
}

a,
a:visited {
    color: var(--primary-color-1);
    cursor: pointer;
    text-decoration: underline;
}

a:hover {
    color: var(--primary-color-2);
    text-decoration: underline;
}

a img {
    border: none;
}

/* header */
header {
    position: relative;
}

.hidden {
    display: none;
}

.mobile-settings {
    display: none;
    position: absolute;
    top: 15px;
    right: 15px;
    gap: 16px;
}

header nav {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    text-decoration: none;
    font-size: 20px;
}

header nav a:hover {
    text-decoration: underline;
}

header .open-settings-btn {
    cursor: pointer;
}

.logo a {
    display: flex;
    gap: 16px;
    font-size: 2.2rem;
    text-decoration: none;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .1rem;
}

.logo a:hover {
    text-decoration: none;
}

.logo img {
    width: 48px;
    height: 48px;
}

.nav-btn {
    padding: 0;
    background: none;
    border: none;
    display: block;
    height: 20px;
}

.nav-btn svg,
a svg {
    height: 20px;
    width: 20px;
    stroke: var(--primary-color-1);
}

.nav-btn:hover svg,
a:hover svg {
    stroke: var(--primary-color-2);
}

.links {
    display: flex;
    column-gap: 28px;
    row-gap: 16px;
    align-items: center;
}

@media (max-width: 1100px) {
    header nav {
        display: block;
    }

    .logo {
        margin-bottom: 16px;
    }

    .links {
        flex-wrap: wrap;
        column-gap: 32px;
        justify-content: center;
    }

    .mobile-settings {
        display: flex;
    }

    .hide-mobile {
        display: none;
    }
}

@media (max-width: 600px) {
    .links {
        margin-top: 42px;
    }

    .links a {
        width: 45%;
        text-align: center;
        border: 1px solid var(--grey-1);
        border-radius: 6px;
        padding: 4px;
    }
}

/* end header */

/* footer */
footer {
    margin: 96px 0 48px;
    padding: 0 24px;
    text-align: center;
}

footer nav {
    margin-bottom: 16px;
    display: block;
    padding: 0;
}

footer nav a {
    padding: 0 10px;
    text-decoration: none;
    white-space: nowrap;
}

footer nav.site-info span {
    padding: 0 20px;
    text-decoration: none;
    white-space: nowrap;
}

footer nav.site-info span a {
    padding: 0;
}

footer div.site-info {
    margin-bottom: 0;
}

@media (max-width: 450px) {
    footer {
        margin: 32px 0;
    }

    footer nav {
        margin: 16px 0;
    }

    footer nav a {
        padding: 10px;
    }

    footer nav.site-info span {
        padding: 10px 20px;
    }
}

/* end footer */

article.post {
    margin: 32px 0;
    border: 1px solid var(--grey-1);
    padding: 32px;
    border-radius: 8px;
}

article.post:hover {
    border-color: var(--grey-2);
    box-shadow: var(--box-shadow);
}

article.post .metadata {
    margin: 12px 0 20px 0;
    font-size: 1.2rem;
    color: var(--meta);
    font-weight: 300;
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    text-transform: uppercase;
}

article.post h2 {
    font-size: 2rem;
    line-height: 1.1;
}

article.post h2 a {
    text-decoration: none;
}

article.post div.excerpt {
    margin: 16px 0 0;
}

article.post div.excerpt p {
    margin-bottom: 0;
}

article.post div.excerpt code {
    background: var(--code-background);
    font-family: var(--font);
    padding: 4px;
}

@media (max-width: 460px) {
    article.post .metadata {
        display: block;
    }

    article.post .metadata .separator {
        display: none;
    }
}

@media (max-width: 414px) {
    article.post h2 {
        font-size: 2.25rem;
        margin-bottom: 16px;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 80px;
    font-size: 1.25rem;
    margin: 32px 0;
}

.pagination a {
    text-decoration: none;
}

ul.tag-list {
    margin: 16px 0 24px 0 !important;
    padding: 0;
    width: 100%;
}

.tag-list li {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    line-height: 1.6;
    margin-bottom: 0 !important;
}

.tag-list li.lead {
    padding-left: 0;
    padding-right: 10px;
    font-weight: 600;
}

.tag-list li.tag-separator {
    padding: 0 8px;
}

.tag-list li a {
    white-space: nowrap;
}

.reply-links span {
    font-weight: 600;
    padding-right: 10px;
}

.in-depth-notes {
    margin-bottom: 2rem;
}

.in-depth-notes h3 {
    font-size: 1.6rem !important;
    text-wrap: unset;
}

.in-depth-notes .source {
    color: var(--text);
}

.in-depth-notes li p {
    margin: 0;
}

.book-note-card {
    margin: 32px 0;
    border: 1px solid var(--grey-1);
    padding: 16px;
    border-radius: 8px;
    container-type: inline-size;
}

.book-note-card:hover {
    border-color: var(--grey-2);
    box-shadow: var(--box-shadow);
}

.book-note-card .metadata {
    text-transform: uppercase;
    color: var(--meta);
}

.book-note-card .content {
    display: flex;
    gap: 32px;
    padding: 16px;
}

.book-note-card .image {
    min-width: 200px;
}

.book-note-card h2 {
    font-size: 1.9rem;
}

.book-note-card h2 a {
    text-decoration: none;
}

.book-note-card h2 a:hover {
    text-decoration: underline;
}

.book-note-card h3 {
    font-weight: 500;
    margin: 8px 0;
    font-size: 1.5rem;
    color: var(--meta);
}

.book-note-card h4 {
    color: var(--text);
    margin: 16px 0;
    font-size: 1.5rem;
}

.book-note-card .categories {
    margin: 16px 0;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.book-note-card .category {
    padding: 0 16px;
    background-color: var(--primary-color-2);
    color: var(--background);
    border-radius: 8px;
}

.book-note-card .date {
    font-style: italic;
    margin-bottom: 16px;
    font-size: 1.2rem;
}

@container (min-width: 600px) {
    .book-note-card .content {
        gap: 64px;
    }
}

@media (max-width: 550px) {
    .book-note-card .content {
        display: block;
    }

    .book-note-card .image {
        width: 200px;
        margin: 0 auto 2rem;
    }

    .book-note-card .metadata {
        text-align: center;
    }
}

.rating {
    margin: 10px 0;
}

.star {
    display: inline-block;
    fill: var(--primary-color-1);
    stroke: var(--primary-color-1);
    margin: 0;
}

.star-sm {
    width: 16px;
    height: 16px;
}

.star-md {
    width: 24px;
    height: 24px;
}

.star-lg {
    width: 32px;
    height: 32px;
}

.empty-star {
    display: inline-block;
    fill: none;
    stroke: var(--primary-color-1);
    margin: 0;
}

@media (max-width: 500px) {

    .star-md,
    .star-lg {
        width: 20px;
        height: 20px;
    }
}

.about-page {
    display: flex;
    gap: 48px;
}

[data-width*='slim'] .about-page {
    display: block;
}

[data-width*='slim'] .about-page .image {
    width: 250px;
    margin: 0 auto 32px;
}

.about-page .image {
    flex-grow: 1;
    min-width: 250px;
    margin-top: 12px;
}

.about-page .image img {
    border-radius: 10px;
}

.about-page .text {
    flex-grow: 2;
}

.about-page .text p {
    margin-top: 0;
}

@media (max-width: 500px) {
    .about-page {
        display: block;
    }

    .about-page .image {
        width: 250px;
        margin: 0 auto 32px;
    }
}

.tag-page-header {
    text-transform: uppercase;
    font-size: 3.4rem;
}

.tag-page-header span {
    font-size: 1.33rem;
    display: block;
    font-weight: 300;
}

section.archives.yearly-archive-section {
    margin-bottom: 48px;
}

section.archives h2 {
    margin-bottom: 20px;
}

section.archives .links {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

section.archives a {
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 10px 16px;
    width: 250px;
    border-radius: 8px;
    border: 1px solid var(--grey-1);
}

section.archives a:hover {
    text-decoration: underline;
    border-color: var(--grey-2);
    box-shadow: var(--box-shadow);
}

ul.likes {
    margin: 25px 0;
    padding: 0;
}

ul.likes li {
    display: block;
    list-style-type: none;
    margin: 24px 0;
}

ul.likes li div.link {
    display: flex;
    gap:8px;
}

ul.likes li div.link .icon {
    margin-top: 6px;
}

ul.likes li div.title {
    font-weight: 400;
    font-size: 1.4rem;
}

ul.likes li div.source {
    color: var(--meta);
}

.progress-bar {
    display: grid;
    grid-template-columns: 8fr 4fr;
    grid-column-gap: 12px;
    margin-top: 12px;
}

.progress-bar .bar {
    height: 40px;
    border-width: 2px;
    border-style: solid;
    border-color: #666;
    position: relative;
    margin: 0 0 25px 0;
}

.progress-bar .bar .inner-bar {
    height: 100%;
}

.progress-bar .legend {
    line-height: 40px;
    margin: 0;
    padding: 0;
}

.aspiration-status {
    font-size: 4rem;
    margin-top: 12px;
    margin-left: 32px;
}

@media (max-width: 500px) {
    .progress-bar {
        display: block;
    }

    .progress-bar .bar {
        margin: 0 0 10px 0;
    }

    .progress-bar .legend {
        line-height: 1;
        margin: 0 0 25px 0;
        text-align: center;
    }

    .aspiration-status {
        font-size: 3rem;
        text-align: center;
        margin-left: 0;
    }

}

article.uses h2 {
    margin: 32px 0 24px 0;
}

.chart {
    margin: 32px 0 16px 0;
}

.chart h2 {
    margin-bottom: 24px;
}

.stats-chart {
    display: grid;
    grid-template-columns: 1fr 9fr 1fr;
    grid-column-gap: 12px;
}

.stats-chart.tags {
    grid-template-columns: 3fr 9fr 1fr;
}

.stats-chart .bar {
    height: 40px;
    position: relative;
    margin: 0 0 25px 0;
}

.stats-chart .inner-bar {
    height: 100%;
}

.stats-chart .bar-title {
    line-height: 40px;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.stats-chart .mobile-stats {
    display: none;
}

.stats-chart .legend {
    line-height: 40px;
    margin: 0;
    padding: 0;
    text-align: right;
}

@media all and (max-width: 500px) {
    .stats-chart {
        display: block;
    }

    .stats-chart .bar {
        margin: 0 0 10px 0;
    }

    .stats-chart .legend {
        display: none;
    }

    .stats-chart .mobile-stats {
        display: inline;
    }
}

.project {
    margin: 32px 0;
}

.project h2 {
    margin-bottom: 24px;
}

.project .status {
    margin: 0.6rem 0;
    font-style: italic;
    color: var(--meta);
    text-align: center;
}

.project .status span {
    font-weight: 600;
}

.project img {
    margin: 16px auto;
    max-width: 80%;
    text-align: center;
}

.project .image.bordered img {
    border: 1px solid var(--grey-1);
}

form {
    display: grid;
    grid-column-gap: 12px;
    grid-template-columns: 5fr 1fr;
}

.search-field {
    padding: 10px;
    border-radius: 2px;
    width: 100%;
    border: 1px solid var(--black-3);
    margin-right: 15px;
}

.search-button {
    background: var(--primary-color-1);
    color: #fefefe;
    border: none;
    padding: 10px 15px;
    font-weight: normal;
    cursor: pointer;
}

.search-button:hover {
    background: var(--primary-color-3);
}

.settings-drawer {
    position: absolute;
    z-index: 100;
    width: 640px;
    background: var(--background);
    box-shadow: var(--box-shadow);
    padding: 20px;
    border-color: var(--primary-color-1);
}

@media (max-width: 680px) {
    .settings-drawer {
        width: 320px;
        margin-left: -160px;
    }
}

button#close-theme-drawer {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    width: 32px;
    height: 32px;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

button#close-theme-drawer svg {
    stroke: var(--text);
    width: 32px;
    height: 32px;
}

.theme-section {
    margin-bottom: 16px;
}

.theme-section:last-of-type {
    margin-bottom: 0;
}

.button-label {
    font-weight: 600;
    color: var(--text);
}

.color-options {
    display: flex;
    justify-content: space-between;
}

.mode-button,
.width-button {
    padding-left: 12px;
    padding-right: 12px;
    border: 1px solid var(--text);
    border-radius: 4px;
    box-sizing: border-box;
}

.color-button {
    justify-content: center;
    width: 19%;
}

.mode-button.active,
.width-button.active {
    border: 3px solid var(--primary-color-1);
}

.color-button.active {
    border: 5px solid var(--text);
    box-sizing: border-box;
}

button[data-color='red'] {
    border-color: var(--primary-color-red);
    background: var(--primary-color-red);
}

button[data-color='orange'] {
    border-color: var(--primary-color-orange);
    background: var(--primary-color-orange);
}

button[data-color='green'] {
    border-color: var(--primary-color-green);
    background: var(--primary-color-green);
}

button[data-color='blue'] {
    border-color: var(--primary-color-blue);
    background: var(--primary-color-blue);
}

button[data-color='purple'] {
    border-color: var(--primary-color-purple);
    background: var(--primary-color-purple);
}

.rss h2 {
    font-size: 2.5rem;
}

.rss ul li {
    font-size: 1.1rem;
    margin: 6px 0;
}

.latest-from-blog,
.latest-from-book-notes {
    margin-top: 48px;
}

.note h2 {
    font-size: 1.75rem;
}

.note h2 a {
    text-decoration: none;
}

.note h2 a:hover {
    text-decoration: underline;
}

.note .metadata {
    margin: 12px 0 20px 0;
    font-size: 1.2rem;
    color: var(--meta);
    font-weight: 300;
    display: flex;
    justify-content: flex-start;
    gap: 16px;
}

.note .metadata .post-date {
    text-transform: uppercase;
    order: 1;
}

.note .metadata .separator {
    order: 2;
}

.note .metadata .domain {
    order: 3;
}

@media (max-width: 550px) {
    .note .metadata {
        display: block;
    }

    .note .metadata .separator {
        display: none;
    }

    .note .metadata .domain {
        margin-bottom: 8px;
    }
}

.note blockquote {
    margin: 0;
    border-left: 5px solid var(--primary-color-1);
}

.note blockquote p {
    padding: 0 0 0 24px;
    font-style: italic;
}

.note pre {
    padding: 16px;
    border-radius: 6px;
    margin-bottom: 32px;
}

.note pre code {
    font-size: 1rem;
}

ul.archives-list {
    margin: 0;
    padding: 0;
}

ul.archives-list li {
    list-style-type: none;
    margin: 12px 0;
    display: grid;
    grid-template-columns: 80px auto;
}

.blog-roll {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}

.blog-roll .blog {
    border: 1px solid var(--grey-1);
    padding: 16px;
    border-radius: 8px;
}

.blog-roll .blog .title {
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--primary-color-2);
}

.blog-roll .blog p {
    margin: 16px 0 0 0;
}

fit-vids {
    margin-bottom: 48px;
}

.books-to-read {
    margin: 0;
    padding: 0;
}

.books-to-read li {
    margin: 12px 0;
    list-style-type: '';
}

.books-to-read-count {
    margin: 24px 0;
}

.books-to-read-count span {
    font-weight: 600;
}

.homepage-blog-post-link {
    margin: 24px 0;
}

.homepage-blog-post-link a {
    font-size: 1.66rem;
}

.homepage-blog-post-link div.metadata {
    color: var(--meta);
    text-transform: uppercase;
}

.homepage-book-note-link {
    margin: 24px 0;
}

.homepage-book-note-link a {
    font-size: 1.66rem;
}

.homepage-book-note-link div.metadata {
    color: var(--meta);
    display: flex;
    gap: 16px;
    text-transform: uppercase;
}

.latest-pixelfed-photos {
    margin: 32px 0;
}

.latest-pixelfed-photos .pixelfed-photos {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin: 16px 0;
}

.latest-pixelfed-photos .pixelfed-photos a {
    border: 8px solid var(--photo-frame-color);
    width: 200px;
    height: 200px;
}

.latest-pixelfed-photos .pixelfed-photos a:hover {
    border-color: var(--primary-color-3);
}

@media (max-width: 700px) {
    .latest-pixelfed-photos {
        margin: 32px 0 0;
    }
    .latest-pixelfed-photos .pixelfed-photos {
        display: flex;
        justify-content: initial;
        flex-direction: column;
    }

    .latest-pixelfed-photos .pixelfed-photos a {
        border: 8px solid var(--photo-frame-color);
        width: 100%;
        height: auto;
    }
}
