.media-container {
    margin: 3.2rem auto 2rem auto;
}

.media-container h2 {
    margin: 1.5rem 0;
}

.media-container .last-update {
    margin: 1rem 0;
    font-style: italic;
}

.media-container .items {
    margin: 0 0 2.5rem;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-column-gap: 0.75rem;
    grid-row-gap: 2.5rem;
    justify-items: center;
}

.media-container .padded-top {
    margin-top: 2rem;
}

@media (max-width: 900px) {
    .media-container {
        width: 600px;
    }
}

@media (max-width: 767px) {
    .media-container {
        width: 100%;
        margin: 1.5rem 0;
    }

    .media-container h1 {
        font-size: 1.8rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }

    .media-container p {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }

    .media-container .items {
        display: block;
    }
}

.media-container .item {
    text-align: center;
    vertical-align: top;
    line-height: 1.3;
}

.media-container .cover {
    border: 1px solid #bcbcbc;
    margin: 0 auto 16px;
    display: block;
    max-height: 225px;
}

.media-container .video-game-cover {
    position: relative;
}

.finished-icon {
    position: absolute;
    bottom: 5px;
    right: 10px;
}

.media-container .cover:hover {
    animation: pulse-animation 2s infinite;
}

.media-container .item a {
    font-weight: 600;
    text-decoration: none;
}

.media-container .item a:hover {
    text-decoration: underline;
}

.media-container .subtitle {
    font-size: 0.85rem;
    color: var(--meta);
}

.media-container .meta {
    margin: 0.6rem 0;
    font-size: 0.85rem;
    color: var(--meta);
}

.media-container .book-notes-link a {
    color: var(--primary-color-1);
    font-weight: 400;
    font-size: 1.05rem;
}

.media-container .view-thoughts {
    margin: 8px 0;
    font-size: 1.05rem;
}

.media-container .toggle-thoughts {
    background: none !important;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    cursor: pointer;
    color: var(--primary-color-1);
}

.media-container .thoughts {
    line-height: 1.5;
    margin: 10px 0;
    border: 1px solid var(--primary-color-2);
    padding: 10px;
    border-radius: 6px;
    background: rgba(200, 200, 200, 0.2);
}

main:has(div.now-page) .media-container .view-thoughts,
main:has(div.now-page) .media-container .rating,
.items.current-status .rating,
.items.current-status .view-thoughts {
    display: none;
}

@media all and (max-width: 767px) {
    .media-container .item {
        text-align: left;
        font-size: 1.3rem;
        display: block;
        margin: 30px 0;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1.5rem;
    }

    .media-container .meta {
        font-size: 1.1rem;
    }
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }

    100% {
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
}

.music-grid {
    margin: 0 0 40px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-column-gap: 16px;
    grid-row-gap: 24px;
    justify-items: center;
}

.music-album {
    text-align: center;
    vertical-align: top;
    width: 150px;
}

.music-album-title {
    color: var(--primary-color-1);
}

.music-album-cover {
    border: 1px solid #bcbcbc;
    margin: 0 auto 1rem;
    display: block;
    max-height: 150px;
}

.music-album-cover:hover,
.podcast-cover:hover {
    animation: pulse-animation 2s infinite;
}

.music-album-meta {
    margin: 4px 0 0;
    color: var(--meta);
    font-style: italic;
}

.podcast-grid {
    margin: 0 0 40px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-column-gap: 16px;
    grid-row-gap: 24px;
    justify-items: center;
}

.podcast {
    text-align: center;
    vertical-align: top;
    width: 150px;
}

.podcast-cover {
    border: 1px solid #bcbcbc;
    margin: 0 auto 8px;
    display: block;
    max-height: 150px;
}

.podcast-title a {
    text-decoration: none;
    font-size: 1rem;
}

.podcast-title a:hover {
    text-decoration: underline;
}

dialog.media-thoughts-dialog {
    width: 600px;
    text-align: center;
    border-color: var(--primary-color-1);
    border-radius: 10px;
}

dialog.media-thoughts-dialog .thoughts-content {
    margin-bottom: 24px;
}

@media (max-width: 650px) {
    dialog.media-thoughts-dialog {
        width: 300px;
    }
}

dialog.media-thoughts-dialog button {
    padding: 8px 16px;
    border-style: solid;
    border-color: var(--primary-color-2);
    cursor: pointer;
    appearance: none;
    border-radius: 5px;
}


dialog.media-thoughts-dialog button:hover {
    color: var(--primary-color-1);
    border-color: var(--primary-color-1);
}