:root {
    --font: Inconsolata, monospace;
    --font-size-base: clamp(1rem,0.96rem + 0.22vw, 1.125rem);
    --width: min(100ch, 100vw - 2rem);

    --background: oklch(100% 0 0);
    --background-shaded: oklch(0.8353 0.0074 0);
    --text: oklch(26.97% 0 0);
    --meta: oklch(32.11% 0 0);
    --border-color: oklch(75.7% 0 0);
    --box-shadow: 0 12px 24px 0 oklch(0% 0 0 / 20%);

    --primary-color: oklch(0.4102 0.238 264.68);
    --secondary-color: oklch(0.6632 0.1802 250.61);
    --tertiary-color: oklch(0.8536 0.1745 87.53);

    --primary-color-contrast: oklch(100% 0 0);
}

@media (prefers-color-scheme: light) {
    :root {
        --background: oklch(100% 0 0);
        --background-shaded: oklch(0.8353 0.0074 0);
        --text: oklch(26.97% 0 0);
        --meta: oklch(32.11% 0 0);
        --border-color: oklch(75.7% 0 0);
        --box-shadow: 0 12px 24px 0 oklch(0% 0 0 / 20%);

        --primary-color: oklch(0.4102 0.238 264.68);
        --secondary-color: oklch(0.6632 0.1802 250.61);
        --tertiary-color: oklch(0.8536 0.1745 87.53);

        --primary-color-contrast: oklch(100% 0 0);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: oklch(26.03% 0 0);
        --background-shaded: oklch(0.2062 0 0);
        --text: oklch(95.51% 0 0);
        --meta: oklch(91.58% 0 0);
        --border-color: oklch(44.7% 0 0);
        --box-shadow: 0 12px 24px 0 oklch(47.41% 0 0 / 20%);

        --primary-color: oklch(0.6811 0.168 261.68);
        --secondary-color: oklch(0.9014 0.0579 232.56);
        --tertiary-color: oklch(0.717 0.1611 21.96);

        --primary-color-contrast: oklch(26.03% 0 0);
    }
}

[data-theme*='dark'] {
    --background: oklch(26.03% 0 0);
    --background-shaded: oklch(0.2062 0 0);
    --text: oklch(95.51% 0 0);
    --meta: oklch(91.58% 0 0);
    --border-color: oklch(44.7% 0 0);
    --box-shadow: 0 12px 24px 0 oklch(47.41% 0 0 / 20%);

    --primary-color: oklch(0.6811 0.168 261.68);
    --secondary-color: oklch(0.9014 0.0579 232.56);
    --tertiary-color: oklch(0.717 0.1611 21.96);

    --primary-color-contrast: oklch(26.03% 0 0);
}

[data-theme*='light'] {
    --background: oklch(100% 0 0);
    --background-shaded: oklch(0.8353 0.0074 0);
    --text: oklch(26.97% 0 0);
    --meta: oklch(32.11% 0 0);
    --border-color: oklch(75.7% 0 0);
    --box-shadow: 0 12px 24px 0 oklch(0% 0 0 / 20%);

    --primary-color: oklch(0.4102 0.238 264.68);
    --secondary-color: oklch(0.6632 0.1802 250.61);
    --tertiary-color: oklch(0.8536 0.1745 87.53);

    --primary-color-contrast: oklch(100% 0 0);
}

[data-theme*='nord'] {
    --background: oklch(0.2022 0.037756 223.3211);
    --background-shaded: oklch(0.2294 0.0296 223.3211);
    --text: oklch(95.51% 0 0);
    --meta: oklch(91.58% 0 0);
    --border-color: oklch(44.7% 0 0);
    --box-shadow: 0 12px 24px 0 oklch(0% 0 0 / 20%);

    --primary-color: oklch(0.8613 0.105 215.62);
    --secondary-color: oklch(0.8958 0.1025 144.26);
    --tertiary-color: oklch(0.5466 0.1087 320.87);

    --primary-color-contrast: oklch(0.2022 0.037756 223.3211);
}