:root {
    --font: Inconsolata, monospace;
    --font-size-base: clamp(1rem,0.96rem + 0.22vw, 1.125rem);
    --width: min(100ch, 100vw - 2rem);
    --wide-width: min(80vw, 100vw - 2rem);

    --background: oklch(100% 0 0);
    --background-shaded: oklch(0.9491 0 0);
    --text: oklch(26.97% 0 0);
    --meta: oklch(32.11% 0 0);
    --border-color: oklch(75.7% 0 0);
    --box-shadow: 0 12px 24px 0 oklch(0% 0 0 / 20%);

    --primary-color: oklch(0.4102 0.238 264.68);
    --secondary-color: oklch(0.6632 0.1802 250.61);
    --tertiary-color: oklch(55.083% 0.17709 25.125);

    --primary-color-contrast: oklch(100% 0 0);

    --red: oklch(51.18% 0.222 26.47);
    --white: #ffffff;

    --alert-note: oklch(0.5399 0.1906 257.48);
    --alert-tip: oklch(0.5244 0.1401 148.04);
    --alert-important: oklch(0.5631 0.2069 294.97);
    --alert-warning: oklch(0.5542 0.1169 75.01);
    --alert-caution: oklch(0.5567 0.2056 24.61);
}

@media (prefers-color-scheme: light) {
    :root {
        --background: oklch(100% 0 0);
    --background-shaded: oklch(0.9491 0 0);
        --text: oklch(26.97% 0 0);
        --meta: oklch(32.11% 0 0);
        --border-color: oklch(75.7% 0 0);
        --box-shadow: 0 12px 24px 0 oklch(0% 0 0 / 20%);

        --primary-color: oklch(0.4102 0.238 264.68);
        --secondary-color: oklch(0.6632 0.1802 250.61);
        --tertiary-color: oklch(55.083% 0.17709 25.125);

        --primary-color-contrast: oklch(100% 0 0);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: oklch(26.03% 0 0);
        --background-shaded: oklch(0.2062 0 0);
        --text: oklch(95.51% 0 0);
        --meta: oklch(91.58% 0 0);
        --border-color: oklch(44.7% 0 0);
        --box-shadow: 0 12px 24px 0 oklch(47.41% 0 0 / 20%);

        --primary-color: oklch(0.6811 0.168 261.68);
        --secondary-color: oklch(0.9014 0.0579 232.56);
        --tertiary-color: oklch(0.717 0.1611 21.96);

        --primary-color-contrast: oklch(26.03% 0 0);
    }
}

[data-theme*='dark'] {
    --background: oklch(26.03% 0 0);
    --background-shaded: oklch(0.2062 0 0);
    --text: oklch(95.51% 0 0);
    --meta: oklch(91.58% 0 0);
    --border-color: oklch(44.7% 0 0);
    --box-shadow: 0 12px 24px 0 oklch(47.41% 0 0 / 20%);

    --primary-color: oklch(0.6811 0.168 261.68);
    --secondary-color: oklch(0.9014 0.0579 232.56);
    --tertiary-color: oklch(0.717 0.1611 21.96);

    --primary-color-contrast: oklch(26.03% 0 0);
}

[data-theme*='light'] {
    --background: oklch(100% 0 0);
    --background-shaded: oklch(0.9491 0 0);
    --text: oklch(26.97% 0 0);
    --meta: oklch(32.11% 0 0);
    --border-color: oklch(75.7% 0 0);
    --box-shadow: 0 12px 24px 0 oklch(0% 0 0 / 20%);

    --primary-color: oklch(0.4102 0.238 264.68);
    --secondary-color: oklch(0.6632 0.1802 250.61);
    --tertiary-color: oklch(55.083% 0.17709 25.125);

    --primary-color-contrast: oklch(100% 0 0);
}

[data-theme*='nord'] {
    --background: oklch(0.2022 0.037756 223.3211);
    --background-shaded: oklch(0.2294 0.0296 223.3211);
    --text: oklch(95.51% 0 0);
    --meta: oklch(91.58% 0 0);
    --border-color: oklch(44.7% 0 0);
    --box-shadow: 0 12px 24px 0 oklch(0% 0 0 / 20%);

    --primary-color: oklch(0.8613 0.105 215.62);
    --secondary-color: oklch(0.8958 0.1025 144.26);
    --tertiary-color: oklch(0.5466 0.1087 320.87);

    --primary-color-contrast: oklch(0.2022 0.037756 223.3211);
}

[data-theme*='sepia'] {
    --background: oklch(0.8613 0.0197 73.06);
    --background-shaded: oklch(0.7745 0.0197 73.06);
    --text: oklch(0.1708 0.0197 73.06);
    --meta: oklch(0.2567 0.0197 73.06);
    --border-color: oklch(0.3294 0.037 73.06);
    --box-shadow: 0 12px 24px 0 oklch(0% 0 0 / 20%);

    --primary-color: oklch(0.1708 0.0197 73.06);
    --secondary-color: oklch(0.2567 0.0197 73.06);
    --tertiary-color: oklch(0.3294 0.037 73.06);

    --primary-color-contrast: oklch(100% 0 0);
}