<footer>
    <nav>
        <a href="/">Home</a>
        <a href="/blog" title="Blog">Blog</a>
        <a href="/reading-logs" title="Reading Logs">Reading Logs</a>
        <a href="/book-notes">Book Notes</a>
        <a href="/archives" title="Archives">Archives</a>
        <a href="/about" title="About">About</a>
        <a href="/contact" title="About">Contact</a>
        <a href="/work" title="Work">Work</a>
        <a href="/uses" title="Uses">Uses</a>
        <a href="/search" title="Search">Search</a>
        <a href="/bookshelf" title="Bookshelf">Bookshelf</a>
        <a href="/now" title="Now">Now</a>
        <a href="/movies" title="Movies">Movies</a>
        <a href="/likes" title="Likes">Likes</a>
        <a href="/listening" title="Podcasts">Podcasts</a>
        <a href="/tv/" title="TV">TV</a>
        <a href="/music" title="Music">Music</a>
        <a href="/video-games/" title="Video Games">Video Games</a>
        <a href="/stats" title="Stats">Stats</a>
        <a href="/progress/2023" title="2023 Goals Progress">2023 Goals Progress</a>
    </nav>
    <nav class="info">
        &copy; 2023 Keith Wagner
        <a href="mailto:hello@kpwags.com">hello@kpwags.com</a>
        <a href="https://www.github.com/kpwags">GitHub</a>
        <a rel="me" href="https://hachyderm.io/@kpwags">Mastodon</a>
        <a rel="me" href="https://bsky.app/profile/kpwags.com">Bluesky</a>
        <a href="/feed.xml" title="RSS">RSS</a>
    </nav>
</footer>