<!DOCTYPE html>
<html lang="{{ metadata.language }}">

<head>
	{% include "head.html" %}
	<title>{{ title }} - Keith Wagner</title>
	<link rel="stylesheet" type="text/css" href="/css/prism-okaidia.css" />
	<link rel="stylesheet" type="text/css" href="/css/blog-post.css" />

	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://kpwags.com{{ page.url }}" />
	<meta property="og:title" content="{{ title }}" />
	<meta property="og:description" content="{{ description }}" />

	<script type="module" src="/scripts/fit-vids.js"></script>
</head>

<body>
	{% include "header.html" %}
	<main class="blog-post">
		{{ title | postTitle }}
		<div class="metadata">
			<div>{{ dateString }}</div>
			<div>&bull;</div>
			<div>{{ content | readingTime }}</div>
		</div>
		{{ content }}
		<hr />
		{% if relatedPosts %}
		<section class="related-posts">
			<h2>Related Posts</h2>
			{% for relatedPost in relatedPosts %}
			<a href="{{ relatedPost.url }}">{{ relatedPost.title }}</a>
			{% endfor %}
		</section>
		<hr />
		{% endif %}
		{% tagList tags %}
		<div class="reply-links">
			<span>Reply via:</span>
			<a href="mailto:hello@kpwags.com?subject={{ title }}">Email</a>
			&bull;
			<a href="https://hachyderm.io/@kpwags" target="_blank" rel="noreferrer nofollow">Mastodon</a>
			&bull;
			<a href="https://bsky.app/profile/kpwags.com" target="_blank" rel="noreferrer nofollow">Bluesky</a>
		</div>
	</main>
	{% include "footer.html" %}
</body>

</html>