<!DOCTYPE html>
<html lang="{{ metadata.language }}">

<head>
	{% include "head.html" %}
	<title>{{ title }} - Keith Wagner</title>

	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://kpwags.com{{ page.url }}" />
	<meta property="og:title" content="{{ title }}" />
	<meta property="og:description" content="{{ description }}" />
</head>

<body>
	{% include "header.html" %}

	<main>
		<article class="book-note">
			<h1>{{ fullTitle }}</h1>

			<div class="card">
				<div class="content">
					<div class="image">
						<img src="{{ coverImage }}" alt="{{ author }} - {{ title }}" width="200" />
					</div>
					<div class="info">
						<div class="detail-row"><strong>Author:</strong> {{ author }}</div>

						<div class="detail-row">
							{% if format == 'Audiobook' %}
								{% renderTemplate "webc" %}
									<platform-tag platform="audiobook"></platform-tag>
								{% endrenderTemplate %}
							{% elsif format == 'Hardcover' %}
								{% renderTemplate "webc" %}
									<platform-tag platform="hardcover"></platform-tag>
								{% endrenderTemplate %}
							{% elsif format == 'eBook' %}
								{% renderTemplate "webc" %}
									<platform-tag platform="ebook"></platform-tag>
								{% endrenderTemplate %}
							{% else %}
								{% renderTemplate "webc" %}
									<platform-tag platform="paperback"></platform-tag>
								{% endrenderTemplate %}
							{% endif %}
						</div>

						<div class="detail-row">
							{% starRating rating "lg" %}
						</div>

						<div class="detail-row"><strong>Finished</strong>: {{ dateString }}</div>

						<div class="detail-row categories">
							<div class="sr-only">Tagged:</div>
							{% for category in categories %}
							<span class="category">{{ category }}</span>
							{% endfor %}
						</div>

						<div class="detail-row book-links">
							<span class="lead"><strong>Links:</strong></span>
							{% for link in purchaseLinks %}
							<a href="{{ link.url }}">{{ link.title }}</a>
							<span class="separator">&bull;</span>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>

			<div class="body">
				{{ content }}
			</div>

			<hr />

			{% replyLinks title %}
		</article>
	</main>

	{% include "footer.html" %}
</body>

</html>