<!DOCTYPE html>
<html lang="{{ metadata.language }}">

<head>
	{% include "head.html" %}
	<title>{{ title }} - Keith Wagner</title>
	<link rel="stylesheet" type="text/css" href="/css/prism-okaidia.css" />

	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://kpwags.com{{ page.url }}" />
	<meta property="og:title" content="{{ title }}" />
	<meta property="og:description" content="{{ description }}" />
</head>

<body>
	{% include "header.html" %}

	<div class="heading-block">
		<div class="content">
			<div class="metadata">
				<div>{{ dateString }}</div>
				<div>&bull;</div>
				<div>{{ author }}</div>
			</div>
			<h1>{{ title }}</h1>
		</div>
	</div>

	<main>
		<article class="note note-page">
			<div class="content">{{ content }}</div>
			<div class="view-link"><a href="{{ link }}">Read More</a></div>
			<hr />
			<div class="footer">
				{% tagList tags %}
				{% replyLinks title %}
			</div>
		</article>
	</main>
	{% include "footer.html" %}
</body>

</html>
