<!DOCTYPE html>
<html lang="{{ metadata.language }}">

<head>
	{% include "head.html" %}
	<title>{{ title }} - Keith Wagner</title>
	<link rel="stylesheet" type="text/css" href="/css/prism-okaidia.css" />

	<script type="module" src="/scripts/fit-vids.js"></script>

	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://kpwags.com{{ page.url }}" />
	<meta property="og:title" content="{{ title }}" />
	<meta property="og:description" content="{{ description }}" />
</head>

<body>
	{% include "header.html" %}

	<main>
		<article class="note">
			<div class="content">
				<h1>{{ title }}</h1>

				<div class="metadata">
					<div>{{ dateString }}</div>
					<div>&bull;</div>
					<div>{{ author }}</div>
				</div>

				<div class="content">{{ content }}</div>
				<div class="view-link"><a href="{{ link }}">Read More</a></div>
				<hr />

				<div class="footer">
					{% tagList tags %}
					{% replyLinks title %}
				</div>
			</div>
		</article>
	</main>

	{% include "footer.html" %}
</body>

</html>
