<!DOCTYPE html>
<html lang="{{ metadata.language }}">

<head>
	{% include "head.html" %}

	<title>{{ title }} - Keith Wagner</title>

	<link rel="stylesheet" type="text/css" href="/css/media-pages.css" />

	<script src="/scripts/media-pages.js" defer></script>

	<noscript>
		<style type="text/css">
			.media-container .view-thoughts {
				display: none;
			}
		</style>
	</noscript>
</head>

<body>
	{% include "header.html" %}
	<main class="full-width">
		{{ content }}
	</main>
	{% include "footer.html" %}
</body>

</html>