<!DOCTYPE html>
<html lang="{{ metadata.language }}">

<head>
	{% include "head.html" %}

	<title>{{ title }} - Keith Wagner</title>

	<script src="/scripts/media-pages.js" defer></script>

	<noscript>
		<style type="text/css">
			.media-container .view-thoughts {
				display: none;
			}

			.media-with-columns {
				display: block;
				margin: 0;
			}

			.media-with-columns .sidebar {
				display: none;
			}
		</style>
	</noscript>
</head>

<body>
	{% include "header.html" %}

	{{ content }}

	{% include "footer.html" %}

	{% include "dialogs.html" %}
</body>

</html>