---
layout: "layouts/layout.html"
title: "Archives"
---

<h1>Archives</h1>

<section class="archives-years">
	<ul>
		{% for year in collections.archives %}
			<li><a href="#{{ year.year }}">{{ year.year }}</a></li>
		{% endfor %}
	</ul>
</section>

<section class="filter">
	<div class="text-filter">
		<label for="filter">
			Filter
			<input type="text" name="filter" id="filter" />
		</label>
		<button type="button" id="clear-filters" class="btn-primary">Clear</button>
	</div>
	<form class="post-controls" name="postFields">
		<fieldset>
			<legend>Choose Type:</legend>
			<label for="all">
				<div class="post-type-option">All</div>
				<input type="radio" id="all" name="postType" value="all" checked />
			</label>
			<label for="blog">
				<div class="post-type-option">Post</div>
				<input type="radio" id="blog" name="postType" value="Post" />
			</label>
			<label for="note">
				<div class="post-type-option">Note</div>
				<input type="radio" id="note" name="postType" value="Note" />
			</label>
			<label for="reading-log">
				<div class="post-type-option">Reading Log</div>
				<input type="radio" id="reading-log" name="postType" value="Reading Log" />
			</label>
			<label for="week-note">
				<div class="post-type-option">Week Note</div>
				<input type="radio" id="week-note" name="postType" value="Week Note" />
			</label>
			<label for="book-note">
				<div class="post-type-option">Book Note</div>
				<input type="radio" id="book-note" name="postType" value="Book Note" />
			</label>
		</fieldset>
	</form>
</section>

<section class="archives">
	{% for year in collections.archives %}
		<div class="archive-year">
			<h2 id="{{ year.year }}">{{ year.year }}</h2>

			<ul class="archives-list">
				{% for post in year.posts %}
					<li data-post-type="{{ post.type.name }}">
						<a href="{{ post.url }}">{{ post.title }}</a>
						<div class="post-metadata">
							<span class="tag {{ post.type.css }}">{{ post.type.name }}</span>
							<span class="date">{{ post.dateString }}</span>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endfor %}
</section>

<script>
	let filteredPostType = 'all';
	let textFilter = '';

	addEventListener('DOMContentLoaded', () => {
		document.getElementById('filter').addEventListener('keyup', function (e) {
			filterArchives(e.target.value, undefined);
		});

		document.getElementById('clear-filters').addEventListener('click', function () {
			clearFilters();
		});

		const postTypeOptions = document.querySelectorAll('input[name="postType"]');

		postTypeOptions.forEach((opt) => {
			opt.addEventListener('change', (e) => {
				filterArchives(undefined, e.target.value);
			});
		});
	});

	function filterArchives(text = undefined, postType = undefined) {
		if (text) {
			textFilter = text.trim();
		}

		if (postType) {
			filteredPostType = postType;
		}

		document.querySelectorAll('.archives-list li').forEach((x, idx) => {
			const matchesText = textFilter === ''
				? true
				: x.querySelector('a')?.textContent.toLowerCase().includes(textFilter.toLowerCase());

			const matchesType = filteredPostType === 'all'
				? true
				: x.getAttribute('data-post-type') === filteredPostType;

			if (matchesText && matchesType) {
				x.removeAttribute('hidden');
			} else {
				x.setAttribute('hidden', true);
			}
		});
	}

	function clearFilters() {
		document.getElementById('filter').value = '';
		document.postFields.postType.value = 'all';
		textFilter = '';
		filteredostType = 'all';
		filterArchives('', 'all');
	}
</script>