---
layout: "layouts/layout.html"
title: "Blog"
pagination:
  data: collections.publicPosts
  size: 12
  reverse: true
---

<div class="blog-listing-page">
    <h1>Blog</h1>

    {% for post in pagination.items %}
    {% blogPost post "blogpost" %}
    {% endfor %}

    <section class="pagination">
        {% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">&leftarrow; Newer Posts</a>{% endif %}
        {% if pagination.href.next %}<a href="{{ pagination.href.next }}">Older Posts &rightarrow;</a>{% endif %}
    </section>
</div>
