---
layout: "layouts/layout.html"
title: "Blog Roll"
---

<main>
	<h1>Blog Roll</h1>

	<div class="blog-roll">
		{% for blog in blogroll %}
		<div class="site-card">
			<div class="title">{{ blog.title }}</div>
			<div class="url">
				<a href="{{ blog.link }}">{{ blog.link | domainFromUrl }}</a>
				&bull;
				<a href="{{ blog.rssLink }}">RSS</a>
			</div>
			<div class="tags">
				{% for tag in blog.tags %}
				<span>{{ tag }}</span>
				{% endfor %}
			</div>
		</div>

		{% endfor %}
	</div>
</main>