---
layout: "layouts/layout.html"
title: "Book Notes"
pagination:
  data: collections.booknotes
  size: 10
  reverse: true
---

<h1>Book Notes</h1>

{% for bookNote in pagination.items %}

<article class="book-note-card">
    <div class="content">
        <div class="image">
            <img src="{{ bookNote.data.coverImage }}" alt="{{ bookNote.data.author }} - {{ bookNote.data.title }}" />
        </div>
        <div>
            <h2><a href="{{ bookNote.url }}">{{ bookNote.data.title }}</a></h2>
            <h3>by {{ bookNote.data.author }}</h3>

            {% starRating bookNote.data.rating %}

            <div class="categories">
				{% for category in bookNote.data.categories %}
				<span class="category">{{ category }}</span>
				{% endfor %}
			</div>
        </div>
    </div>
</article>

{% endfor %}

<section class="pagination">
    {% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">&leftarrow; Newer Posts</a>{% endif %}
    {% if pagination.href.next %}<a href="{{ pagination.href.next }}">Older Posts &rightarrow;</a>{% endif %}
</section>