---
title: ''
layout: 'layouts/layout.html'
---

<h1>Welcome!</h1>

<section class="intro">
	<p>Welcome to my little corner of the internet. I share my thoughts about software development, technology, and so
		much more. I also share what I've read, watched and played. Read more <a href="/about">about</a> me.</p>
</section>

<section class="latest-from-blog">
	<h2>Pinned Posts</h2>

	{% set pinnedPostsSorted = collections.pinnedPosts | reverse %}
	{% set pinnedPosts = pinnedPostsSorted.slice(0, 5) %}

	{% for post in pinnedPosts %}
		<div class="homepage-blog-post-link">
			<a href="{{ post.url }}">{{ post.data.title }}</a>
			<div class="metadata">{{ post.data.dateString }}</div>
		</div>
	{% endfor %}
</section>

<hr />

<section class="latest-from-blog">
	<h2>Latest Posts</h2>

	{% set recentPostsSorted = collections.postsAndReadingLogs | reverse %}
	{% set recentPosts = recentPostsSorted.slice(0, 5) %}

	{% for post in recentPosts %}
		<div class="homepage-blog-post-link">
			<a href="{{ post.url }}">{{ post.data.title }}</a>
			<div class="metadata">{{ post.data.dateString }}</div>
		</div>
	{% endfor %}
</section>

<hr />

<section class="latest-from-book-notes">
	<h2>Latest Book Note</h2>

	{% set recentBookNotesSorted = collections.booknotes | reverse %}
	{% set bookNote = recentBookNotesSorted[0] %}

	<div class="homepage-book-note-link">
		<a href="{{ bookNote.url }}">{{ bookNote.data.title }}</a>
		<div class="metadata">
			<span>by {{ bookNote.data.author }}</span>
			<span class="separator">&bull;</span>
			<span>{{ bookNote.data.dateString }}</span>
		</div>
	</div>
</section>

<hr />

<section class="latest-pixelfed-photos">
	<h2>Latest from pixelfed</h2>


	<div class="pixelfed-photos">
		{% for img in pixelfed %}
			<a href="{{ img.link }}">
				<div class="image" title="{{ img.title }}" style="background-image: url('{{ img.image }}')"></div>
			</a>
		{% endfor %}
	</div>

	<div class="view-more"><a href="https://pixelfed.social/users/kpwags">View More</a></div>
</section>
