---
title: ''
layout: 'layouts/homepage-layout.html'
---

<div class="homepage">
	{% if collections.pinnedPosts.length > 0 %}
	<section class="homepage-section">
		<h2>Pinned Posts</h2>

		{% set pinnedPostsSorted = collections.pinnedPosts | reverse %}
		{% set pinnedPosts = pinnedPostsSorted.slice(0, 5) %}

		<ul>
			{% for post in pinnedPosts %}
				<li>
					<div class="post-data">
						<div class="post-date">{{ post.data.dateStringDMYYYY }}</div>
						<a href="{{ post.url }}">{{ post.data.title }}</a>
					</div>
					<div class="post-description">{{ post.data.description }}</div>
				</li>
			{% endfor %}
		</ul>
	</section>
	{% endif %}

	<section class="homepage-section">
		<h2>Latest Blog Posts</h2>

		{% set recentPostsSorted = collections.publicPosts | reverse %}
		{% set recentPosts = recentPostsSorted.slice(0, 5) %}

		<ul>
			{% for post in recentPosts %}
				<li>
					<div class="post-data">
						<div class="post-date">{{ post.data.dateStringDMYYYY }}</div>
						<a href="{{ post.url }}">{{ post.data.title }}</a>
					</div>
					<div class="post-description">{{ post.data.description }}</div>
				</li>
			{% endfor %}
		</ul>
	</section>

	<section class="homepage-section">
		<h2>Latest Week Notes</h2>

		{% set recentWeekNotesSorted = collections.weeknote | reverse %}
		{% set recentWeekNotes = recentWeekNotesSorted.slice(0, 3) %}

		<ul>
			{% for weekNote in recentWeekNotes %}
				<li>
					<div class="post-data">
						<div class="post-date">{{ weekNote.data.dateStringDMYYYY }}</div>
						<a href="{{ weekNote.url }}">{{ weekNote.data.title }}</a>
					</div>
					<div class="post-description">{{ weekNote.data.description }}</div>
				</li>
			{% endfor %}
		</ul>
	</section>

	<section class="homepage-section">
		<h2>Latest Reading Logs</h2>

		{% set recentLogsSorted = collections.readinglog | reverse %}
		{% set recentLogs = recentLogsSorted.slice(0, 3) %}

		<ul>
			{% for post in recentLogs %}
				<li>
					<div class="post-data">
						<div class="post-date">{{ post.data.dateStringDMYYYY }}</div>
						<a href="{{ post.url }}">{{ post.data.title }}</a>
					</div>
					<div class="post-description">{{ post.data.page.excerpt | toHTML }}</div>
				</li>
			{% endfor %}
		</ul>
	</section>

	<section class="homepage-section">
		<h2>Latest Notes</h2>

		{% set recentNotesSorted = collections.shortnotes | reverse %}
		{% set recentNotes = recentNotesSorted.slice(0, 5) %}

		<ul>
			{% for note in recentNotes %}
				<li>
					<div class="post-data">
						<div class="post-date">{{ note.data.dateStringDMYYYY }}</div>
						<a href="{{ note.url }}">{{ note.data.title }}</a>
					</div>
				</li>
			{% endfor %}
		</ul>
	</section>
</div>
