---
title: ''
layout: 'layouts/layout.html'
---

<section class="intro">
	<div class="image"><img src="/img/logo.png" alt="A picture of me in a Phillies shirt and hat holding a beer" width="128" height="128" /></div>
	<div class="text">
		<div class="hi-there">Hi, I'm Keith!</div>
		<div class="basic-info">I'm a software developer, gamer, geek, beer league hockey player, Philadelphia sports fan and a whole lot more.</div>
	</div>
</section>

<section class="latest-from-blog">
	<h2>Pinned Posts</h2>

	{% set pinnedPostsSorted = collections.pinnedPosts | reverse %}
	{% set pinnedPosts = pinnedPostsSorted.slice(0, 5) %}

	{% for post in pinnedPosts %}
		<div class="homepage-blog-post-link">
			<a href="{{ post.url }}">{{ post.data.title }}</a>
			<div class="metadata">{{ post.data.dateString }}</div>
		</div>
	{% endfor %}
</section>

<hr />

<section class="latest-from-blog">
	<h2>Latest Posts</h2>

	{% set recentPostsSorted = collections.postsAndReadingLogs | reverse %}
	{% set recentPosts = recentPostsSorted.slice(0, 5) %}

	{% for post in recentPosts %}
		<div class="homepage-blog-post-link">
			<a href="{{ post.url }}">{{ post.data.title }}</a>
			<div class="metadata">{{ post.data.dateString }}</div>
		</div>
	{% endfor %}
</section>

<hr />

<section class="latest-from-book-notes">
	<h2>Latest Book Note</h2>

	{% set recentBookNotesSorted = collections.booknotes | reverse %}
	{% set bookNote = recentBookNotesSorted[0] %}

	<div class="homepage-book-note-link">
		<a href="{{ bookNote.url }}">{{ bookNote.data.title }}</a>
		<div class="metadata">
			<span>by {{ bookNote.data.author }}</span>
			<span class="separator">&bull;</span>
			<span>{{ bookNote.data.dateString }}</span>
		</div>
	</div>
</section>

<hr />

<section class="latest-pixelfed-photos">
	<h2>Latest from pixelfed</h2>


	<div class="pixelfed-photos">
		{% for img in pixelfed %}
			<a href="{{ img.link }}">
				<img src="{{ img.image }}" alt="{{ img.title }}" width="1080" height="1080" />
			</a>
		{% endfor %}
	</div>

	<div class="view-more"><a href="https://pixelfed.social/users/kpwags">View More</a></div>
</section>
