---
layout: "layouts/layout.html"
title: "Links"
pagination:
    data: links
    size: 25
    alias: links
---

<h1>Links</h1>

<section class="links">
	<p>I traverse the web and run into many interesting posts, how-tos, and countless other fun links. Figured I'd share them here when I don't have anything specific to add.</p>

	<ul class="links-legend">
		<li><strong>Legend:</strong></li>
		<li>🔗 - Link</li>
		<li>🎥 - Video</li>
		<li>🎧 - Podcast</li>
	</ul>

	<ul class="links-list">
		{% for link in links %}
			<li>
				<div class="info">
					<div class="icon">
						{% if link.type.name == "Podcast" %}
						🎧
						{% elsif link.type.name == "Video" %}
						🎥
						{% else %}
						🔗
						{% endif %}
					</div>
					<div class="link-details">
						<a href="{{ link.url }}">{{ link.title }}</a>
						<div class="metadata">{{ link.linkDate | readableDate }} &bull; {{ link.author }}</div>
					</div>
				</div>
				<div class="category">
					<span class="tag type" style="background-color: {{ link.type.colorCode }}">{{ link.type.name }}</span>
					<span class="tag" style="background-color: {{ link.category.colorCode }}">{{ link.category.name }}</span>
				</div>
			</li>
		{% endfor %}
	</ul>
</section>

<section class="pagination">
	{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">&leftarrow; Newer Links</a>{% endif %}
	{% if pagination.href.next %}<a href="{{ pagination.href.next }}">Older Links &rightarrow;</a>{% endif %}
</section>