---
layout: "layouts/layout.html"
title: "Links"
pagination:
    data: links
    size: 25
    alias: links
---

<h1>Links</h1>

<p>I traverse the web and run into many interesting posts, how-tos, and countless other fun links. Figured I'd share them here when I don't have anything specific to add.</p>

<p>
	🔗 - Link / 🎥 - Video / 🎧 - Podcast
</p>

<hr />

<ul class="likes">
	{% for item in links %}
	<li>
		<div class="link">
			<div class="icon">
				{% if item.type == "Podcast" %}
				🎧
				{% elsif item.type == "Video" %}
				🎥
				{% else %}
				🔗
				{% endif %}
			</div>
			<div>
				<div class="title">
					<a href="{{ item.link }}" target="_blank" rel="noopener noreferrer">
						{{ item.title }}
					</a>
				</div>
				<div class="source">
					{{ item.date }} &bull; {{ item.author }}
				</div>
			</div>
		</div>
	</li>
	{% endfor %}
</ul>

<section class="pagination">
    {% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">&leftarrow; Newer Links</a>{% endif %}
    {% if pagination.href.next %}<a href="{{ pagination.href.next }}">Older Links &rightarrow;</a>{% endif %}
</section>