---
layout: "layouts/wide-layout.html"
title: "Podcast Subscriptions"
---

<div class="media-container">
	<h1>Podcast Subscriptions</h1>

	<p>Yes, I subscribe to a lot of podcasts. No, I don't necessarily listen to every episode.</p>

	<p class="last-update">Last Updated: {{ config.builtAt | readableDate }}</p>

	{% for category in podcasts %}
	<div>
		<h2>{{ category.category }} ({{ category.shows | length }})</h2>

		<div class="podcast-grid">
			{% for show in category.shows %}
			{% podcastListing show %}
			{% endfor %}
		</div>
	</div>
	{% endfor %}
</div>