---
layout: "layouts/wide-layout.html"
title: "Podcast Subscriptions"
---

<main class="media-container">
	<h1>Podcast Subscriptions</h1>

	<h5>Yes, I subscribe to a lot of podcasts. No, I don't necessarily listen to every episode.</h5>

	<p class="last-update">Last Updated: {{ config.builtAt | readableDate }}</p>

	{% for category in podcasts %}
	<div class="grid-section">
		<h2>{{ category.name }} ({{ category.podcasts | length }})</h2>

		<div class="media-grid podcasts">
			{% for podcast in category.podcasts %}
			{% podcastListing podcast %}
			{% endfor %}
		</div>
	</div>
	{% endfor %}
</main>