---
layout: "layouts/wide-layout.html"
title: "Movies"
---
<h1>Movies</h1>

{% for year in movies %}
<section class="media-section">
	<h2>{{ year.year }} ({{ year.movies | length }})</h2>

	<div class="grid">
		{% for film in year.movies %}
		<div class="media-box">
			<div class="container">
				<img src="{{ film.posterImageUrl }}" alt="{{ film.title }}" width="200" height="300" />
				<div class="details">
					<div class="title-section">
						<div class="title"><a href="{{ film.imdbLink }}">{{ film.title }}</a></div>
					</div>
					{% starRating film.rating %}
					<p>{{ film.thoughts }}</p>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
{% endfor %}
