---
layout: "layouts/wide-layout.html"
title: "Movies"
---

<div class="media-container">
	<h1>Movies I've Watched</h1>

	<p>I've certainly seen more than this, but I figured I'd update this list with some of my thoughts for the movies
		I've watched more recently.</p>

	<p class="last-update">Last Updated: {{ config.builtAt | readableDate }}</p>

	{% for movie in movies %}
	<div>
		<h2>{{ movie.year }} ({{ movie.movies | length }})</h2>

		<div class="items padded-top">
			{% for film in movie.movies %}
			{% movieListing film %}
			{% endfor %}
		</div>
	</div>
	{% endfor %}
</div>