---
layout: "layouts/layout.html"
title: "Notes"
pagination:
  data: collections.shortnotes
  size: 12
  reverse: true
---

<h1>Notes</h1>

<section class="notes">
	{% for note in pagination.items %}
		<article>
			<div class="note-data">
				<div class="note-date"><a href="{{ note.url }}">{{ note.data.dateStringDMYYYY }}</a></div>
				<h2><a href="{{ note.data.link }}">{{ note.data.title }}</a></h2>
			</div>
			<div class="note-metadata">
				<div>{{ note.data.author }}</div>
				<div>&bull;</div>
				<div>{{ note.data.link | domainFromUrl }}</div>
			</div>
			<div class="note-content">{{ note.templateContent }}</div>
		</article>
	{% endfor %}
</section>

<section class="pagination">
	{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">&leftarrow; Newer Notes</a>{% endif %}
	{% if pagination.href.next %}<a href="{{ pagination.href.next }}">Older Notes &rightarrow;</a>{% endif %}
</section>


<script type="module" src="/scripts/fit-vids.js"></script>