---
layout: "layouts/layout.html"
title: "Notes"
pagination:
  data: collections.shortnotes
  size: 20
  reverse: true
---

<main>
    <h1 class="large">Notes</h1>

    {% for note in pagination.items %}
    {% noteListing note %}
    {% endfor %}

    <section class="pagination">
    {% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">&leftarrow; Newer Notes</a>{% endif %}
    {% if pagination.href.next %}<a href="{{ pagination.href.next }}">Older Notes &rightarrow;</a>{% endif %}
    </section>
</main>