---
layout: "layouts/layout.html"
title: "What I'm Up To"
---

<div class="media-page now">
	<h1>What I'm Up To</h1>

	<p class="last-update">Last Updated: {{ config.builtAt | readableDate }}</p>

	<div class="grid-section">
		<h2>Reading</h2>
		<div class="media-grid now">
			{% for book in books.inProgress %}
			{% bookListing book %}
			{% endfor %}
		</div>
	</div>

	<div class="grid-section">
		<h2>TV</h2>
		<div class="media-grid now current-status">
			{% for show in tv.inProgress %}
			{% tvListing show true %}
			{% endfor %}
		</div>
	</div>

	{% if recentMovies.length > 0 %}
	<div class="grid-section">
		<h2>Movies</h2>
		<div class="media-grid now">
			{% for film in recentMovies %}
			{% movieListing film %}
			{% endfor %}
		</div>
	</div>
	{% endif %}


	<div class="grid-section">
		<h2>Playing</h2>
		<div class="media-grid now">
			{% for game in videoGames.inProgress %}
			{% videoGameListing game %}
			{% endfor %}
		</div>
	</div>

	<div class="grid-section">
		<h2>Listening</h2>
		<div class="media-grid now">
			{% for music in now.music %}
			{% musicListing music %}
			{% endfor %}
		</div>
	</div>

	<div class="now-everything-else">
		<h2>Everything Else</h2>

		<div class="item">
			<h3>Fitness Repository</h3>
			<p>To go along with my media repository, I started work on a new tool to keep track of my fitness goals. I currently use a few LibreOffice spreadsheets and am curious if a little web app might prove useful.</p>
		</div>
	</div>

	{% renderTemplate "webc" %}
	<music-dialog></music-dialog>
	{% endrenderTemplate %}
</div>