---
layout: "layouts/wide-layout.html"
title: "What I'm Up To"
---

<div class="media-container now-page">
	<h1>What I'm Up To</h1>

	<p class="last-update">Last Updated: {{ config.builtAt | readableDate }}</p>

	<h2>Reading</h2>
	<div class="items padded-top">
		{% for book in books.inProgress %}
		{% bookListing book %}
		{% endfor %}
	</div>

	<h2>TV</h2>
	<div class="items padded-top">
		{% for show in tv.inProgress %}
		{% tvListing show %}
		{% endfor %}
	</div>

	{% if now.movies.length > 0 %}
	<h2>Movies</h2>
	<div class="items padded-top">
		{% for film in now.movies %}
		{% movieListing film %}
		{% endfor %}
	</div>
	{% endif %}

	<h2>Playing</h2>
	<div class="items padded-top">
		{% for game in videoGames.inProgress %}
		{% videoGameListing game %}
		{% endfor %}
	</div>

	<h2>Listening</h2>
	<div class="items padded-top">
		{% for music in now.music %}
		{% musicListing music %}
		{% endfor %}
	</div>
</div>