---
layout: "layouts/wide-layout.html"
title: "Podcasts"
---
<h1>Podcasts</h1>

<p>Last Updated: {{ config.builtAt | readableDate }}</p>

{% for category in podcasts %}
<section class="podcast-category">
	<h2>{{ category.name }} ({{ category.podcasts | length }})</h2>

	<div class="grid">
		{% for podcast in category.podcasts %}
			<div class="item">
				<div class="cover">
					<img src="{{ podcast.coverImageUrl }}" alt="{{ podcast.name }}" width="200" height="200" />
				</div>
				<div class="podcast-title">
					<a href="{{ podcast.link }}">{{ podcast.name }}</a>
				</div>
			</div>
		{% endfor %}
	</div>
</section>

<hr />
{% endfor %}