---
layout: "layouts/layout.html"
title: "Reading Logs"
pagination:
    data: collections.readinglog
    size: 25
    reverse: true
---

<h1>Reading Logs</h1>

<section class="reading-logs">
	<ul>
		{% for readingLog in pagination.items %}
			<li><a href="{{ readingLog.url }}">{{ readingLog.data.title }}</a></li>
		{% endfor %}
	</ul>
</section>

 <section class="pagination">
	{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">&leftarrow; Newer Reading Logs</a>{% endif %}
	{% if pagination.href.next %}<a href="{{ pagination.href.next }}">Older Reading Logs &rightarrow;</a>{% endif %}
</section>