---
layout: "layouts/layout.html"
title: "Stats"
---

<h1>Stats</h1>

<p>Some stats about my blog and what I post</p>

{% set stats = collections.stats %}

<section class="chart">
	<h2>Posts Per Year</h2>
	{% for year in stats.postsByYear %}
		<div class="stats-chart">
			<p class="bar-title">{{ year.year }}<span class="mobile-stats">&nbsp;({{ year.count }})</span></p>
			<div class="bar">
				<div class="inner-bar" style="background-color: {{ year.color }}; width: {{ year.percentage }}%"></div>
			</div>
			<p class="legend">{{ year.count }}</p>
		</div>
	{% endfor %}
</section>

<hr />

<section class="chart">
	<h2>Most Popular Tags</h2>
	{% for tag in stats.popularTags %}
		<div class="stats-chart tags">
			<p class="bar-title">{{ tag.name }}<span class="mobile-stats">&nbsp;({{ tag.count }})</span></p>
			<div class="bar">
				<div class="inner-bar" style="background-color: {{ tag.color }}; width: {{ tag.percentage }}%"></div>
			</div>
			<p class="legend">{{ tag.count }}</p>
		</div>
	{% endfor %}
</section>