---
layout: "layouts/layout.html"
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tag/{{ tag | tagUrlSlug }}/
eleventyComputed:
  title: Posts Tagged “{{ tag }}”
---

<main>
  <h1>{{ tag }}</h1>

  {% set taglist = collections[ tag ] %}

  <section class="archives-list">
    <ul>
      {% for post in taglist | reverse %}
        {% if post.data.rss_only != true %}
          <li>
            <a href="{{ post.url }}">
                <span class="text">{{ post.data.title }}</span>
                <span class="meta">{{ post.data.dateString }}</span>
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>
</main>