---
layout: "layouts/layout.html"
title: "Tags"
---

<h1>Tags</h1>

<p>Here's a list of every tag on the site.</p>

<section class="site-tags">
	<ul>
		{% for tag in collections.tags %}
			<li><a href="/tag/{{ tag | tagUrlSlug }}">{{ tag }}</a></li>
		{% endfor %}
	</ul>
</section>
