---
layout: "layouts/wide-layout.html"
title: "Television Watch List"
---

<div class="media-page">
	<h1>Television Watch List</h1>

	<p>I've certainly seen more than this, but I figured I'd update this list with some of my thoughts for the TV
		series I've watched and am currently watching.</p>

	<p class="last-update">Last Updated: {{ config.builtAt | readableDate }}</p>

	<div class="grid-section">
		<h2>Currently Watching ({{ tv.inProgress | length }})</h2>

		<div class="media-grid current-status">
			{% for show in tv.inProgress %}
			{% tvListing show true %}
			{% endfor %}
		</div>
	</div>

	<div class="grid-section">
		<h2>Between Seasons ({{ tv.betweenSeasons | length }})</h2>

		<div class="media-grid">
			{% for show in tv.betweenSeasons %}
			{% tvListing show %}
			{% endfor %}
		</div>
	</div>

	<div class="grid-section">
		<h2>Finished ({{ tv.completed | length }})</h2>

		<div class="media-grid">
			{% for show in tv.completed %}
			{% tvListing show %}
			{% endfor %}
		</div>
	</div>
</div>