---
layout: "layouts/wide-layout.html"
title: "Television Shows"
---

<h1>Television Shows</h1>

<section class="tv-section">
	<h2>Currently Watching ({{ tv.inProgress | length }})</h2>

	<div class="grid">
		{% for show in tv.inProgress %}
		{% tvListing show true false %}
		{% endfor %}
	</div>
</section>

<section class="tv-section">
	<h2>On Pause ({{ tv.betweenSeasons | length }})</h2>

	<div class="grid">
		{% for show in tv.betweenSeasons %}
		{% tvListing show false false %}
		{% endfor %}
	</div>
</section>

<section class="tv-section">
	<h2>Finished ({{ tv.completed | length }})</h2>

	<div class="grid">
		{% for show in tv.completed %}
		{% tvListing show false true%}
		{% endfor %}
	</div>
</section>

<script type="text/javascript" src="/scripts/media.js"></script>
<script>
	window.addEventListener('load', function() {
		const dialog = document.querySelector('dialog.thoughts-dialog');

		const toggleButtons = document.querySelectorAll('button.toggle-thoughts');

		toggleButtons.forEach((button) => {
			button.addEventListener('click', (e) => {
				const dataType = e.target.getAttribute('data-type');
				const id = e.target.getAttribute('data-id');

				showThoughts(id, dataType);
			});
		});

		const modalCloseButton = document.querySelector('dialog.thoughts-dialog button');

		if (modalCloseButton) {
			modalCloseButton.addEventListener('click', () => dialog.close());
		}
	});
</script>