---
layout: "layouts/wide-layout.html"
title: "Video Games"
---

<main class="media-container">
	<h1>Video Games</h1>

	<h5>I've certainly played more than this, but I figured I'd update this list with some of my thoughts for the video
		games I've played and am currently playing.</h5>

	<p class="last-update">Last Updated: {{ config.builtAt | readableDate }}</p>

	<div class="grid-section">
		<h2>Currently Playing ({{ videoGames.inProgress | length }})</h2>


		<div class="media-grid current-status">
			{% for game in videoGames.inProgress %}
			{% videoGameListing game %}
			{% endfor %}
		</div>
	</div>

	<div class="grid-section">
		<h2>Have Played ({{ videoGames.completed | length }})</h2>

		<div class="game-legend">
			<div>✅ - indicates that I finished the game</div>
			<div>🟥 - indicates that I did not finish the game</div>
		</div>

		<div class='media-grid'>
			{% for game in videoGames.completed %}
			{% videoGameListing game %}
			{% endfor %}
		</div>
	</div>
</main>
