---
layout: "layouts/layout.html"
title: "Week Notes"
pagination:
    data: collections.weeknote
    size: 12
    reverse: true
---

<h1>Week Notes</h1>

<section class="week-notes">
	{% for post in pagination.items %}
		<article>
			<h2><a href="{{ post.url }}">{{ post.data.title | cleanTitle }}</a></h2>
			<div class="metadata">{{ post.data.dateString }}</div>
			<div class="excerpt">{{ post.data.page.excerpt | toHTML }}</div>
		</article>
		<hr />
    {% endfor %}
</section>

 <section class="pagination">
	{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">&leftarrow; Newer Week Notes</a>{% endif %}
	{% if pagination.href.next %}<a href="{{ pagination.href.next }}">Older Week Notes &rightarrow;</a>{% endif %}
</section>