<!DOCTYPE html>
<html lang="{{ metadata.language }}">
<head>
	{% include "head.html" %}
	<title>{{ title }} - Keith Wagner</title>
	<link rel="stylesheet" type="text/css" href="/css/blog-post.css" />

	<meta property="og:type" content="website" />
	<meta property="og:url" content={Astro.url} />
	<meta property="og:title" content="{{ title }}" />
	<meta property="og:description" content="{{ description }}" />
</head>
<body>
	{% include "header.html" %}
	<main class="blog-post">
		<h1>{{ title }}</h1>
		<div class="metadata">
			<div>{{ page.date | readableDate }}</div>
		</div>
		{{ content }}
	</main>
	{% include "footer.html" %}
</body>
</html>