<!DOCTYPE html>
<html lang="{{ metadata.language }}">
<head>
	<meta charset="utf-8" />
	<meta name="theme-color" content="#187c3d" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<title>{{ title or metadata.title }}</title>
	<link rel="stylesheet" type="text/css" href="/css/reset.css" />
	<link rel="stylesheet" type="text/css" href="/css/fonts.css" />
	<link rel="stylesheet" type="text/css" href="/css/variables.css" />
	<link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>
<body>
	{% include "header.html" %}
	<main>
		{{ content }}
	</main>
	{% include "footer.html" %}
</body>
</html>