---
layout: "layouts/wide-layout.html"
title: "Bookshelf"
---

<div class="media-page">	
	<div class="grid-container">
		<h1>My Bookshelf</h1>

		<p class="large">I've been trying to read more and update my bookshelf to share what I think of books.<br />
			You can also check out my <a href="/bookshelf/to-read">backlog</a> to see the books I plan on reading.</p>

		<p class="last-update">Last Updated: {{ config.builtAt | readableDate }}</p>

		{% renderTemplate "webc" %}
			<book-filters></book-filters>
		{% endrenderTemplate %}

		{% for year in books.completed %}
		<div class="grid-section year-{{ year.year }}">
			<h2>{{ year.year }} (<span>{{ year.books | length }}</span>)</h2>

			<div class="media-grid books">
				{% for book in year.books %}
				{% bookListing book %}
				{% endfor %}
			</div>
		</div>
		{% endfor %}
	</div>
</div>
